dataset/154 - Content management software/19805.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://cfcs" xmlns:tns1="http://rpc.xml.coldfusion" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:impl="http://cfcs" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://cfcs">
  <wsdl:types>
    <schema targetNamespace="http://cfcs" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://rpc.xml.coldfusion"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOfArrayOf_xsd_anyType">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:anyType[][]" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
    <schema targetNamespace="http://rpc.xml.coldfusion" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://cfcs"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="QueryBean">
    <sequence>
     <element name="columnList" nillable="true" type="impl:ArrayOf_xsd_string"/>
     <element name="data" nillable="true" type="impl:ArrayOfArrayOf_xsd_anyType"/>
    </sequence>
   </complexType>
   <complexType name="CFCInvocationException">
    <sequence/>
   </complexType>
  </schema>
    <schema targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://cfcs"/>
   <import namespace="http://rpc.xml.coldfusion"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="mapItem">
    <sequence>
     <element name="key" nillable="true" type="xsd:anyType"/>
     <element name="value" nillable="true" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <complexType name="Map">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="apachesoap:mapItem"/>
    </sequence>
   </complexType>
  </schema>
  </wsdl:types>
  <wsdl:message name="getCatsResponse">
    <wsdl:part name="getCatsReturn" type="tns1:QueryBean"/>
  </wsdl:message>
  <wsdl:message name="CFCInvocationException">
    <wsdl:part name="fault" type="tns1:CFCInvocationException"/>
  </wsdl:message>
  <wsdl:message name="getCatsXMLResponse">
    <wsdl:part name="getCatsXMLReturn" type="apachesoap:Document"/>
  </wsdl:message>
  <wsdl:message name="getCatsXMLRequest">
  </wsdl:message>
  <wsdl:message name="getJobsRequest">
    <wsdl:part name="category_id" type="xsd:anyType"/>
  </wsdl:message>
  <wsdl:message name="getJobsResponse">
    <wsdl:part name="getJobsReturn" type="tns1:QueryBean"/>
  </wsdl:message>
  <wsdl:message name="getCatsRequest">
  </wsdl:message>
  <wsdl:portType name="GetJobs">
    <wsdl:operation name="getCats">
      <wsdl:input name="getCatsRequest" message="impl:getCatsRequest"/>
      <wsdl:output name="getCatsResponse" message="impl:getCatsResponse"/>
      <wsdl:fault name="CFCInvocationException" message="impl:CFCInvocationException"/>
    </wsdl:operation>
    <wsdl:operation name="getJobs" parameterOrder="category_id">
      <wsdl:input name="getJobsRequest" message="impl:getJobsRequest"/>
      <wsdl:output name="getJobsResponse" message="impl:getJobsResponse"/>
      <wsdl:fault name="CFCInvocationException" message="impl:CFCInvocationException"/>
    </wsdl:operation>
    <wsdl:operation name="getCatsXML">
      <wsdl:input name="getCatsXMLRequest" message="impl:getCatsXMLRequest"/>
      <wsdl:output name="getCatsXMLResponse" message="impl:getCatsXMLResponse"/>
      <wsdl:fault name="CFCInvocationException" message="impl:CFCInvocationException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="getJobs.cfcSoapBinding" type="impl:GetJobs">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCats">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getCatsRequest">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://cfcs"/>
      </wsdl:input>
      <wsdl:output name="getCatsResponse">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://cfcs"/>
      </wsdl:output>
      <wsdl:fault name="CFCInvocationException">
        <wsdlsoap:fault name="CFCInvocationException" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://cfcs"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getJobs">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getJobsRequest">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://cfcs"/>
      </wsdl:input>
      <wsdl:output name="getJobsResponse">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://cfcs"/>
      </wsdl:output>
      <wsdl:fault name="CFCInvocationException">
        <wsdlsoap:fault name="CFCInvocationException" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://cfcs"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCatsXML">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getCatsXMLRequest">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://cfcs"/>
      </wsdl:input>
      <wsdl:output name="getCatsXMLResponse">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://cfcs"/>
      </wsdl:output>
      <wsdl:fault name="CFCInvocationException">
        <wsdlsoap:fault name="CFCInvocationException" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://cfcs"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetJobsService">
    <wsdl:port name="getJobs.cfc" binding="impl:getJobs.cfcSoapBinding">
      <wsdlsoap:address location="http://www.theflexgroup.org/cfcs/getJobs.cfc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
