dataset/154 - Content management software/26759.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="echo" targetNamespace="urn:example.com:soapenc" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:example.com:soapenc" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:txd="urn:example.com:soapenc-type">
  <types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:example.com:soapenc-type">
      <xsd:complexType name="version_struct">
	<xsd:all>
	  <xsd:element name="version" type="txd:t_version"/>
	  <xsd:element name="msg" type="soapenc:string"/>
	</xsd:all>
      </xsd:complexType>

      <xsd:simpleType name="t_version">
        <xsd:restriction base="soapenc:string">
          <xsd:enumeration value="1.6"/>
          <xsd:enumeration value="1.8"/>
          <xsd:enumeration value="1.9"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
  </types>
  <message name="msg_version">
    <part name="version" type="txd:t_version"/>
  </message>
  <message name="msg_version_struct">
    <part name="version_struct" type="txd:version_struct"/>
  </message>
  <portType name="echo_version_port_type">
    <operation name="echo_version">
      <input message="tns:msg_version"/>
      <output message="tns:msg_version_struct"/>
    </operation>
  </portType>
  <binding name="echo_version_binding" type="tns:echo_version_port_type">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="echo_version">
      <soap:operation soapAction="urn:example.com:soapenc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:example.com:soapenc"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:example.com:soapenc"/>
      </output>
    </operation>
  </binding>
  <service name="echo_version_service">
    <port name="echo_version_port" binding="tns:echo_version_binding">
      <soap:address location="http://localhost:10080"/>
    </port>
  </service>
</definitions>
