dataset/154 - Content management software/51952.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.dkfz-heidelberg.de/menu/tomcat/as/alignment_dot_plots.dottup" xmlns:impl="http://www.dkfz-heidelberg.de/menu/tomcat/as/alignment_dot_plots.dottup" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://www.dkfz-heidelberg.de/menu/tomcat/as/alignment_dot_plots.dottup">
  <wsdl:types>
    <schema elementFormDefault="qualified" targetNamespace="http://www.dkfz-heidelberg.de/menu/tomcat/as/alignment_dot_plots.dottup" xmlns="http://www.w3.org/2001/XMLSchema">
      <xsd:annotation xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:documentation>Displays a wordmatch dotplot of two
                  sequences</xsd:documentation>
      </xsd:annotation>
      <element name="runAndWaitFor">
        <complexType>
          <sequence>
            <element name="dottup" type="impl:Tdottup"/>
          </sequence>
        </complexType>
      </element>
      <simpleType name="TdottupAsequenceSformat1">
        <restriction base="xsd:string">
          <enumeration value="gcg"/>
          <enumeration value="gcg8"/>
          <enumeration value="embl"/>
          <enumeration value="swiss"/>
          <enumeration value="fasta"/>
          <enumeration value="ncbi"/>
          <enumeration value="genbank"/>
          <enumeration value="nbrf"/>
          <enumeration value="pir"/>
          <enumeration value="codata"/>
          <enumeration value="strider"/>
          <enumeration value="clustal"/>
          <enumeration value="phylip"/>
          <enumeration value="acedb"/>
          <enumeration value="msf"/>
          <enumeration value="jackknifer"/>
          <enumeration value="jackknifernon"/>
          <enumeration value="nexus"/>
          <enumeration value="nexusnon"/>
          <enumeration value="treecon"/>
          <enumeration value="mega"/>
          <enumeration value="meganon"/>
          <enumeration value="ig"/>
          <enumeration value="staden"/>
          <enumeration value="text"/>
          <enumeration value="raw"/>
        </restriction>
      </simpleType>
      <complexType name="TdottupAsequence">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="asequence_direct_data" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="asequence_usa" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="sformat1" type="impl:TdottupAsequenceSformat1"/>
          <element maxOccurs="1" minOccurs="0" name="sbegin1" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="send1" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="sprotein1" type="xsd:boolean"/>
          <element maxOccurs="1" minOccurs="0" name="snucleotide1" type="xsd:boolean"/>
          <element maxOccurs="1" minOccurs="0" name="sreverse1" type="xsd:boolean"/>
          <element maxOccurs="1" minOccurs="0" name="slower1" type="xsd:boolean"/>
          <element maxOccurs="1" minOccurs="0" name="supper1" type="xsd:boolean"/>
        </sequence>
      </complexType>
      <simpleType name="TdottupBsequenceSformat2">
        <restriction base="xsd:string">
          <enumeration value="gcg"/>
          <enumeration value="gcg8"/>
          <enumeration value="embl"/>
          <enumeration value="swiss"/>
          <enumeration value="fasta"/>
          <enumeration value="ncbi"/>
          <enumeration value="genbank"/>
          <enumeration value="nbrf"/>
          <enumeration value="pir"/>
          <enumeration value="codata"/>
          <enumeration value="strider"/>
          <enumeration value="clustal"/>
          <enumeration value="phylip"/>
          <enumeration value="acedb"/>
          <enumeration value="msf"/>
          <enumeration value="jackknifer"/>
          <enumeration value="jackknifernon"/>
          <enumeration value="nexus"/>
          <enumeration value="nexusnon"/>
          <enumeration value="treecon"/>
          <enumeration value="mega"/>
          <enumeration value="meganon"/>
          <enumeration value="ig"/>
          <enumeration value="staden"/>
          <enumeration value="text"/>
          <enumeration value="raw"/>
        </restriction>
      </simpleType>
      <complexType name="TdottupBsequence">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="bsequence_direct_data" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="bsequence_usa" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="sformat2" type="impl:TdottupBsequenceSformat2"/>
          <element maxOccurs="1" minOccurs="0" name="sbegin2" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="send2" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="sprotein2" type="xsd:boolean"/>
          <element maxOccurs="1" minOccurs="0" name="snucleotide2" type="xsd:boolean"/>
          <element maxOccurs="1" minOccurs="0" name="sreverse2" type="xsd:boolean"/>
          <element maxOccurs="1" minOccurs="0" name="slower2" type="xsd:boolean"/>
          <element maxOccurs="1" minOccurs="0" name="supper2" type="xsd:boolean"/>
        </sequence>
      </complexType>
      <simpleType name="TdottupGraph_format">
        <restriction base="xsd:string">
          <enumeration value="png"/>
          <enumeration value="postscript"/>
          <enumeration value="colourps"/>
          <enumeration value="hpgl"/>
        </restriction>
      </simpleType>
      <complexType name="Tdottup">
        <sequence>
          <element name="asequence" type="impl:TdottupAsequence">
            <xsd:annotation xmlns:xsd="http://www.w3.org/2001/XMLSchema">
              <xsd:documentation>qualifiers for parameter: asequence</xsd:documentation>
            </xsd:annotation>
          </element>
          <element name="bsequence" type="impl:TdottupBsequence">
            <xsd:annotation xmlns:xsd="http://www.w3.org/2001/XMLSchema">
              <xsd:documentation>qualifiers for parameter: bsequence</xsd:documentation>
            </xsd:annotation>
          </element>
          <element name="wordsize" type="xsd:long">
            <xsd:annotation xmlns:xsd="http://www.w3.org/2001/XMLSchema">
              <xsd:appinfo xmlns:emboss="http://emboss.sourceforge.net/schema/prompt">
                <emboss:prompt>Word size</emboss:prompt>
              </xsd:appinfo>
              <xsd:documentation>Word size</xsd:documentation>
            </xsd:annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="graph_format" type="impl:TdottupGraph_format">
            <xsd:annotation xmlns:xsd="http://www.w3.org/2001/XMLSchema">
              <xsd:appinfo xmlns:emboss="http://emboss.sourceforge.net/schema/prompt">
                <emboss:prompt>Format of the graphical output</emboss:prompt>
              </xsd:appinfo>
              <xsd:documentation>Format of the graphical output</xsd:documentation>
            </xsd:annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="boxit" type="xsd:boolean">
            <xsd:annotation xmlns:xsd="http://www.w3.org/2001/XMLSchema">
              <xsd:appinfo xmlns:emboss="http://emboss.sourceforge.net/schema/prompt">
                <emboss:prompt>Draw a box around dotplot</emboss:prompt>
              </xsd:appinfo>
              <xsd:documentation>Draw a box around dotplot</xsd:documentation>
            </xsd:annotation>
          </element>
        </sequence>
      </complexType>
      <element name="runAndWaitForResponse">
        <complexType>
          <sequence>
            <element name="dottupResult" type="impl:TdottupResult"/>
          </sequence>
        </complexType>
      </element>
      <complexType name="TdottupResultGraphics_container">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="Graphics" type="xsd:base64Binary"/>
          <element maxOccurs="1" minOccurs="0" name="Graphics_in_Postscript" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Graphics_in_PNG" type="xsd:base64Binary"/>
        </sequence>
      </complexType>
      <complexType name="TdottupResult">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="report" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="detailed_status" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="Graphics_container" type="impl:TdottupResultGraphics_container">
            <xsd:annotation xmlns:xsd="http://www.w3.org/2001/XMLSchema">
              <xsd:documentation>graphics output data</xsd:documentation>
            </xsd:annotation>
          </element>
        </sequence>
      </complexType>
      <complexType name="TSoaplabException">
        <sequence/>
      </complexType>
      <element name="fault" type="impl:TSoaplabException"/>
      <element name="createAndRun">
        <complexType>
          <sequence>
            <element name="dottup" type="impl:Tdottup"/>
          </sequence>
        </complexType>
      </element>
      <element name="createAndRunResponse">
        <complexType>
          <sequence>
            <element name="jobid" type="xsd:string"/>
          </sequence>
        </complexType>
      </element>
      <element name="waitFor">
        <complexType>
          <sequence>
            <element name="jobid" type="xsd:string"/>
          </sequence>
        </complexType>
      </element>
      <element name="waitForResponse">
        <complexType/>
      </element>
      <element name="getStatus">
        <complexType>
          <sequence>
            <element name="jobid" type="xsd:string"/>
          </sequence>
        </complexType>
      </element>
      <element name="getStatusResponse">
        <complexType>
          <sequence>
            <element name="status" type="impl:Tstatus"/>
          </sequence>
        </complexType>
      </element>
      <complexType name="Tstatus">
        <sequence>
          <element name="inProgress" type="xsd:boolean"/>
          <element name="detailed" type="xsd:string"/>
          <element name="erroneous" type="xsd:boolean"/>
          <element name="description" type="xsd:string"/>
          <element name="completed" type="xsd:boolean"/>
          <element name="asString" type="xsd:string"/>
          <element name="successful" type="xsd:boolean"/>
        </sequence>
      </complexType>
      <element name="getResults">
        <complexType>
          <sequence>
            <element name="jobid" type="xsd:string"/>
          </sequence>
        </complexType>
      </element>
      <element name="getResultsResponse">
        <complexType>
          <sequence>
            <element name="dottupResult" type="impl:TdottupResult"/>
          </sequence>
        </complexType>
      </element>
    </schema>
  </wsdl:types>
  <wsdl:message name="getStatusResponse">
    <wsdl:part name="parameters" element="impl:getStatusResponse"/>
  </wsdl:message>
  <wsdl:message name="getStatusRequest">
    <wsdl:part name="parameters" element="impl:getStatus"/>
  </wsdl:message>
  <wsdl:message name="runAndWaitForRequest">
    <wsdl:part name="parameters" element="impl:runAndWaitFor"/>
  </wsdl:message>
  <wsdl:message name="SoaplabException">
    <wsdl:part name="fault" element="impl:fault"/>
  </wsdl:message>
  <wsdl:message name="waitForRequest">
    <wsdl:part name="parameters" element="impl:waitFor"/>
  </wsdl:message>
  <wsdl:message name="getResultsResponse">
    <wsdl:part name="parameters" element="impl:getResultsResponse"/>
  </wsdl:message>
  <wsdl:message name="createAndRunResponse">
    <wsdl:part name="parameters" element="impl:createAndRunResponse"/>
  </wsdl:message>
  <wsdl:message name="waitForResponse">
    <wsdl:part name="parameters" element="impl:waitForResponse"/>
  </wsdl:message>
  <wsdl:message name="runAndWaitForResponse">
    <wsdl:part name="parameters" element="impl:runAndWaitForResponse"/>
  </wsdl:message>
  <wsdl:message name="getResultsRequest">
    <wsdl:part name="parameters" element="impl:getResults"/>
  </wsdl:message>
  <wsdl:message name="createAndRunRequest">
    <wsdl:part name="parameters" element="impl:createAndRun"/>
  </wsdl:message>
  <wsdl:portType name="alignment_dot_plots__dottup">
    <wsdl:operation name="runAndWaitFor">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Start the web service and receive the result. Blocks until job is finished.</wsdl:documentation>
      <wsdl:input name="runAndWaitForRequest" message="impl:runAndWaitForRequest"/>
      <wsdl:output name="runAndWaitForResponse" message="impl:runAndWaitForResponse"/>
      <wsdl:fault name="SoaplabException" message="impl:SoaplabException"/>
    </wsdl:operation>
    <wsdl:operation name="createAndRun">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Start the web service and receive a job-id. Returns immediately.</wsdl:documentation>
      <wsdl:input name="createAndRunRequest" message="impl:createAndRunRequest"/>
      <wsdl:output name="createAndRunResponse" message="impl:createAndRunResponse"/>
      <wsdl:fault name="SoaplabException" message="impl:SoaplabException"/>
    </wsdl:operation>
    <wsdl:operation name="waitFor">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Wait until a job (by job-id) has finished. Blocks until job is finished.</wsdl:documentation>
      <wsdl:input name="waitForRequest" message="impl:waitForRequest"/>
      <wsdl:output name="waitForResponse" message="impl:waitForResponse"/>
      <wsdl:fault name="SoaplabException" message="impl:SoaplabException"/>
    </wsdl:operation>
    <wsdl:operation name="getStatus">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get status information about a running job. Returns immediately.</wsdl:documentation>
      <wsdl:input name="getStatusRequest" message="impl:getStatusRequest"/>
      <wsdl:output name="getStatusResponse" message="impl:getStatusResponse"/>
      <wsdl:fault name="SoaplabException" message="impl:SoaplabException"/>
    </wsdl:operation>
    <wsdl:operation name="getResults">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the results of a job (by job-id)</wsdl:documentation>
      <wsdl:input name="getResultsRequest" message="impl:getResultsRequest"/>
      <wsdl:output name="getResultsResponse" message="impl:getResultsResponse"/>
      <wsdl:fault name="SoaplabException" message="impl:SoaplabException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="alignment_dot_plots.dottup.derivedSoapBinding" type="impl:alignment_dot_plots__dottup">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="runAndWaitFor">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Start the web service and receive the result. Blocks until job is finished.</wsdl:documentation>
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="runAndWaitForRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="runAndWaitForResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SoaplabException">
        <wsdlsoap:fault name="SoaplabException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createAndRun">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Start the web service and receive a job-id. Returns immediately.</wsdl:documentation>
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="createAndRunRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createAndRunResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SoaplabException">
        <wsdlsoap:fault name="SoaplabException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="waitFor">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Wait until a job (by job-id) has finished. Blocks until job is finished.</wsdl:documentation>
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="waitForRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="waitForResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SoaplabException">
        <wsdlsoap:fault name="SoaplabException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getStatus">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get status information about a running job. Returns immediately.</wsdl:documentation>
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getStatusRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getStatusResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SoaplabException">
        <wsdlsoap:fault name="SoaplabException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getResults">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the results of a job (by job-id)</wsdl:documentation>
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getResultsRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getResultsResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SoaplabException">
        <wsdlsoap:fault name="SoaplabException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="dottupService">
    <wsdl:port name="alignment_dot_plots.dottup.derived" binding="impl:alignment_dot_plots.dottup.derivedSoapBinding">
      <wsdlsoap:address location="http://www.dkfz-heidelberg.de/menu/tomcat/as/alignment_dot_plots.dottup.derived"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
