dataset/154 - Content management software/55751.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://schemas.microsoft.com/sharepoint/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://schemas.microsoft.com/sharepoint/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <s:schema xmlns:s="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/sharepoint/soap/">
      <s:import namespace="http://www.w3.org/2001/XMLSchema"/>
      <s:element name="GetVersions">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="fileName" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVersionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="GetVersionsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RestoreVersion">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="fileName" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="fileVersion" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RestoreVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="RestoreVersionResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteVersion">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="fileName" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="fileVersion" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="DeleteVersionResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAllVersions">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="fileName" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAllVersionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="DeleteAllVersionsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DeleteAllVersionsSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteAllVersionsResponse"/>
  </wsdl:message>
  <wsdl:message name="DeleteAllVersionsSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteAllVersions"/>
  </wsdl:message>
  <wsdl:message name="GetVersionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetVersionsResponse"/>
  </wsdl:message>
  <wsdl:message name="DeleteVersionSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteVersion"/>
  </wsdl:message>
  <wsdl:message name="DeleteVersionSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteVersionResponse"/>
  </wsdl:message>
  <wsdl:message name="RestoreVersionSoapIn">
    <wsdl:part name="parameters" element="tns:RestoreVersion"/>
  </wsdl:message>
  <wsdl:message name="GetVersionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetVersions"/>
  </wsdl:message>
  <wsdl:message name="RestoreVersionSoapOut">
    <wsdl:part name="parameters" element="tns:RestoreVersionResponse"/>
  </wsdl:message>
  <wsdl:portType name="VersionsSoap">
    <wsdl:operation name="GetVersions">
      <wsdl:input message="tns:GetVersionsSoapIn"/>
      <wsdl:output message="tns:GetVersionsSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="RestoreVersion">
      <wsdl:input message="tns:RestoreVersionSoapIn"/>
      <wsdl:output message="tns:RestoreVersionSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="DeleteVersion">
      <wsdl:input message="tns:DeleteVersionSoapIn"/>
      <wsdl:output message="tns:DeleteVersionSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="DeleteAllVersions">
      <wsdl:input message="tns:DeleteAllVersionsSoapIn"/>
      <wsdl:output message="tns:DeleteAllVersionsSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VersionsSoap12" type="tns:VersionsSoap">
    <soap12:binding xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetVersions">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://schemas.microsoft.com/sharepoint/soap/GetVersions" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RestoreVersion">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://schemas.microsoft.com/sharepoint/soap/RestoreVersion" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteVersion">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://schemas.microsoft.com/sharepoint/soap/DeleteVersion" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAllVersions">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://schemas.microsoft.com/sharepoint/soap/DeleteAllVersions" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VersionsSoap" type="tns:VersionsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetVersions">
      <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/GetVersions" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RestoreVersion">
      <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/RestoreVersion" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteVersion">
      <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/DeleteVersion" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAllVersions">
      <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/DeleteAllVersions" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Versions">
    <wsdl:port name="VersionsSoap" binding="tns:VersionsSoap">
      <soap:address location="http://www.abegs.org/_vti_bin/versions.asmx"/>
    </wsdl:port>
    <wsdl:port name="VersionsSoap12" binding="tns:VersionsSoap12">
    <soap12:address xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" location="http://www.abegs.org/_vti_bin/versions.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
