dataset/154 - Content management software/56284.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://axisversion.sample" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://axisversion.sample" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Version</wsdl:documentation>
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://axisversion.sample" xmlns:ns="http://axisversion.sample">
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Exception">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Exception" nillable="true" type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getVersionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="getVersionRequest">
  </wsdl:message>
  <wsdl:message name="getVersionResponse">
    <wsdl:part name="parameters" element="ns0:getVersionResponse"/>
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part name="parameters" element="ns0:Exception"/>
  </wsdl:message>
  <wsdl:portType name="VersionPortType">
    <wsdl:operation name="getVersion">
      <wsdl:input message="ns0:getVersionRequest" wsaw:Action="urn:getVersion"/>
      <wsdl:output message="ns0:getVersionResponse" wsaw:Action="urn:getVersionResponse"/>
      <wsdl:fault name="Exception" message="ns0:Exception" wsaw:Action="urn:getVersionException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VersionSOAP12Binding" type="ns0:VersionPortType">
    <soap12:binding xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getVersion">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="urn:getVersion" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
    <soap12:fault xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VersionHttpBinding" type="ns0:VersionPortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="getVersion">
      <http:operation location="Version/getVersion"/>
      <wsdl:input>
        <mime:content part="getVersion" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getVersion" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VersionSOAP11Binding" type="ns0:VersionPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getVersion">
      <soap:operation soapAction="urn:getVersion" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Version">
    <wsdl:port name="VersionHttpport" binding="ns0:VersionHttpBinding">
      <http:address location="https://open.farm2table.kr:443/axis2/services/Version"/>
    </wsdl:port>
    <wsdl:port name="VersionSOAP12port_https" binding="ns0:VersionSOAP12Binding">
    <soap12:address xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" location="https://open.farm2table.kr:443/axis2/services/Version"/>
    </wsdl:port>
    <wsdl:port name="VersionSOAP11port_http1" binding="ns0:VersionSOAP11Binding">
      <soap:address location="http://open.farm2table.kr:80/axis2/services/Version"/>
    </wsdl:port>
    <wsdl:port name="VersionHttpport1" binding="ns0:VersionHttpBinding">
      <http:address location="http://open.farm2table.kr:80/axis2/services/Version"/>
    </wsdl:port>
    <wsdl:port name="VersionSOAP11port_https" binding="ns0:VersionSOAP11Binding">
      <soap:address location="https://open.farm2table.kr:443/axis2/services/Version"/>
    </wsdl:port>
    <wsdl:port name="VersionSOAP12port_http1" binding="ns0:VersionSOAP12Binding">
    <soap12:address xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" location="http://open.farm2table.kr:80/axis2/services/Version"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
