dataset/154 - Content management software/56301.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://schemas.microsoft.com/sharepoint/soap/dws/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:s0="http://schemas.microsoft.com/sharepoint/soap/dws/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/">
  <types>
    <s:schema xmlns:s="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/sharepoint/soap/dws/">
      <s:element name="DeleteFolder">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="url" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFolderResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="DeleteFolderResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateFolder">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="url" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateFolderResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="CreateFolderResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CanCreateDwsUrl">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="url" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CanCreateDwsUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="CanCreateDwsUrlResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindDwsDoc">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="id" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindDwsDocResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="FindDwsDocResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RenameDws">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="title" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RenameDwsResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="RenameDwsResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveDwsUser">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="id" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveDwsUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="RemoveDwsUserResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDwsData">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="updates" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="meetingInstance" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDwsDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="UpdateDwsDataResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDwsData">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="document" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="lastUpdate" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDwsDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="GetDwsDataResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDwsMetaData">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="document" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="id" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="1" name="minimal" type="s:boolean"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDwsMetaDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="GetDwsMetaDataResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteDws">
        <s:complexType/>
      </s:element>
      <s:element name="DeleteDwsResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="DeleteDwsResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateDws">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="name" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="users" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="title" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="documents" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateDwsResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="CreateDwsResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="GetDwsMetaDataSoapOut">
    <part name="parameters" element="s0:GetDwsMetaDataResponse"/>
  </message>
  <message name="CreateFolderSoapIn">
    <part name="parameters" element="s0:CreateFolder"/>
  </message>
  <message name="FindDwsDocSoapOut">
    <part name="parameters" element="s0:FindDwsDocResponse"/>
  </message>
  <message name="DeleteDwsSoapIn">
    <part name="parameters" element="s0:DeleteDws"/>
  </message>
  <message name="FindDwsDocSoapIn">
    <part name="parameters" element="s0:FindDwsDoc"/>
  </message>
  <message name="RenameDwsSoapOut">
    <part name="parameters" element="s0:RenameDwsResponse"/>
  </message>
  <message name="RemoveDwsUserSoapOut">
    <part name="parameters" element="s0:RemoveDwsUserResponse"/>
  </message>
  <message name="CreateDwsSoapIn">
    <part name="parameters" element="s0:CreateDws"/>
  </message>
  <message name="CanCreateDwsUrlSoapIn">
    <part name="parameters" element="s0:CanCreateDwsUrl"/>
  </message>
  <message name="RemoveDwsUserSoapIn">
    <part name="parameters" element="s0:RemoveDwsUser"/>
  </message>
  <message name="CreateDwsSoapOut">
    <part name="parameters" element="s0:CreateDwsResponse"/>
  </message>
  <message name="UpdateDwsDataSoapOut">
    <part name="parameters" element="s0:UpdateDwsDataResponse"/>
  </message>
  <message name="CreateFolderSoapOut">
    <part name="parameters" element="s0:CreateFolderResponse"/>
  </message>
  <message name="UpdateDwsDataSoapIn">
    <part name="parameters" element="s0:UpdateDwsData"/>
  </message>
  <message name="CanCreateDwsUrlSoapOut">
    <part name="parameters" element="s0:CanCreateDwsUrlResponse"/>
  </message>
  <message name="GetDwsMetaDataSoapIn">
    <part name="parameters" element="s0:GetDwsMetaData"/>
  </message>
  <message name="DeleteFolderSoapIn">
    <part name="parameters" element="s0:DeleteFolder"/>
  </message>
  <message name="GetDwsDataSoapOut">
    <part name="parameters" element="s0:GetDwsDataResponse"/>
  </message>
  <message name="GetDwsDataSoapIn">
    <part name="parameters" element="s0:GetDwsData"/>
  </message>
  <message name="DeleteFolderSoapOut">
    <part name="parameters" element="s0:DeleteFolderResponse"/>
  </message>
  <message name="RenameDwsSoapIn">
    <part name="parameters" element="s0:RenameDws"/>
  </message>
  <message name="DeleteDwsSoapOut">
    <part name="parameters" element="s0:DeleteDwsResponse"/>
  </message>
  <portType name="DwsSoap">
    <operation name="DeleteFolder">
      <input message="s0:DeleteFolderSoapIn"/>
      <output message="s0:DeleteFolderSoapOut"/>
    </operation>
    <operation name="CreateFolder">
      <input message="s0:CreateFolderSoapIn"/>
      <output message="s0:CreateFolderSoapOut"/>
    </operation>
    <operation name="CanCreateDwsUrl">
      <input message="s0:CanCreateDwsUrlSoapIn"/>
      <output message="s0:CanCreateDwsUrlSoapOut"/>
    </operation>
    <operation name="FindDwsDoc">
      <input message="s0:FindDwsDocSoapIn"/>
      <output message="s0:FindDwsDocSoapOut"/>
    </operation>
    <operation name="RenameDws">
      <input message="s0:RenameDwsSoapIn"/>
      <output message="s0:RenameDwsSoapOut"/>
    </operation>
    <operation name="RemoveDwsUser">
      <input message="s0:RemoveDwsUserSoapIn"/>
      <output message="s0:RemoveDwsUserSoapOut"/>
    </operation>
    <operation name="UpdateDwsData">
      <input message="s0:UpdateDwsDataSoapIn"/>
      <output message="s0:UpdateDwsDataSoapOut"/>
    </operation>
    <operation name="GetDwsData">
      <input message="s0:GetDwsDataSoapIn"/>
      <output message="s0:GetDwsDataSoapOut"/>
    </operation>
    <operation name="GetDwsMetaData">
      <input message="s0:GetDwsMetaDataSoapIn"/>
      <output message="s0:GetDwsMetaDataSoapOut"/>
    </operation>
    <operation name="DeleteDws">
      <input message="s0:DeleteDwsSoapIn"/>
      <output message="s0:DeleteDwsSoapOut"/>
    </operation>
    <operation name="CreateDws">
      <input message="s0:CreateDwsSoapIn"/>
      <output message="s0:CreateDwsSoapOut"/>
    </operation>
  </portType>
  <binding name="DwsSoap" type="s0:DwsSoap">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="DeleteFolder">
      <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/dws/DeleteFolder" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CreateFolder">
      <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/dws/CreateFolder" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CanCreateDwsUrl">
      <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/dws/CanCreateDwsUrl" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="FindDwsDoc">
      <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/dws/FindDwsDoc" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="RenameDws">
      <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/dws/RenameDws" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="RemoveDwsUser">
      <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/dws/RemoveDwsUser" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="UpdateDwsData">
      <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/dws/UpdateDwsData" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetDwsData">
      <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/dws/GetDwsData" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetDwsMetaData">
      <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/dws/GetDwsMetaData" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DeleteDws">
      <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/dws/DeleteDws" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CreateDws">
      <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/dws/CreateDws" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="Dws">
    <port name="DwsSoap" binding="s0:DwsSoap">
      <soap:address location="http://www.serviziocivile.coop/_vti_bin/DWS.asmx"/>
    </port>
  </service>
</definitions>
