dataset/154 - Content management software/56944.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="maskfeatService" targetNamespace="http://soaplab.vital_it.ch/edit/maskfeat" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soaplab.vital_it.ch/edit/maskfeat" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:embossmaskfeat="http://vital_it.ch/maskfeat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soaplab="http://soaplab.org/typedws">
  <types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://vital_it.ch/maskfeat" schemaLocation="http://wsembnet.vital-it.ch:80/soaplab2-axis/typed/services/edit.maskfeat?xsd=1"/>
			<xsd:import namespace="http://soaplab.org/typedws" schemaLocation="http://wsembnet.vital-it.ch:80/soaplab2-axis/typed/services/edit.maskfeat?xsd=2"/>
		</xsd:schema>
  </types>
  <message name="getLastEventRequest">
    <part name="parameters" element="soaplab:getLastEvent"/>
  </message>
  <message name="getResultsResponse">
    <part name="parameters" element="embossmaskfeat:getResultsResponse"/>
  </message>
  <message name="getResultsInfo">
    <part name="parameters" element="soaplab:getResultsInfo"/>
  </message>
  <message name="getResultsInfoResponse">
    <part name="parameters" element="soaplab:getResultsInfoResponse"/>
  </message>
  <message name="runAndWaitFor">
    <part name="parameters" element="embossmaskfeat:runAndWaitFor"/>
  </message>
  <message name="runAndWaitForResponse">
    <part name="parameters" element="embossmaskfeat:runAndWaitForResponse"/>
  </message>
  <message name="clearRequest">
    <part name="parameters" element="soaplab:clear"/>
  </message>
  <message name="waitforRequest">
    <part name="parameters" element="soaplab:waitfor"/>
  </message>
  <message name="getLastEventResponse">
    <part name="parameters" element="soaplab:getLastEventResponse"/>
  </message>
  <message name="getStatusResponse">
    <part name="parameters" element="soaplab:getStatusResponse"/>
  </message>
  <message name="getStatus">
    <part name="parameters" element="soaplab:getStatus"/>
  </message>
  <message name="describeResponse">
    <part name="parameters" element="soaplab:describeResponse"/>
  </message>
  <message name="run">
    <part name="parameters" element="embossmaskfeat:run"/>
  </message>
  <message name="runResponse">
    <part name="parameters" element="soaplab:runResponse"/>
  </message>
  <message name="getResults">
    <part name="parameters" element="soaplab:getResults"/>
  </message>
  <message name="describeRequest">
    <part name="parameters" element="soaplab:describe"/>
  </message>
  <message name="terminateRequest">
    <part name="parameters" element="soaplab:terminate"/>
  </message>
  <portType name="maskfeat">
    <operation name="run">
<documentation>starts a job and returns its job identifier</documentation>
      <input message="tns:run"/>
      <output message="tns:runResponse"/>
    </operation>
    <operation name="runAndWaitFor">
<documentation>starts a job, waits until it is completed and
				returns the job results</documentation>
      <input message="tns:runAndWaitFor"/>
      <output message="tns:runAndWaitForResponse"/>
    </operation>
    <operation name="getStatus">
<documentation>returns status of a given job</documentation>
      <input message="tns:getStatus"/>
      <output message="tns:getStatusResponse"/>
    </operation>
    <operation name="getResults">
<documentation>returns all results of a given job</documentation>
      <input message="tns:getResults"/>
      <output message="tns:getResultsResponse"/>
    </operation>
    <operation name="terminate">
<documentation>terminates the specified job</documentation>
      <input message="tns:terminateRequest"/>
    </operation>
    <operation name="clear">
<documentation>informs server that resources for the specified job can be cleared</documentation>
      <input message="tns:clearRequest"/>
    </operation>
    <operation name="waitfor">
<documentation>waits until the specified job terminates</documentation>
      <input message="tns:waitforRequest"/>
    </operation>
    <operation name="describe">
<documentation>returns a structured description of the service, in xml</documentation>
      <input message="tns:describeRequest"/>
      <output message="tns:describeResponse"/>
    </operation>
    <operation name="getLastEvent">
      <input message="tns:getLastEventRequest"/>
      <output message="tns:getLastEventResponse"/>
    </operation>
    <operation name="getResultsInfo">
      <input message="tns:getResultsInfo"/>
      <output message="tns:getResultsInfoResponse"/>
    </operation>
  </portType>
  <binding name="maskfeatPortBinding" type="tns:maskfeat">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="run">
      <soap:operation soapAction="run"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="runAndWaitFor">
      <soap:operation soapAction="runAndWaitFor"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getStatus">
      <soap:operation soapAction="getStatus"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="terminate">
      <soap:operation soapAction="terminate"/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="clear">
      <soap:operation soapAction="clear"/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="waitfor">
      <soap:operation soapAction="waitfor"/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="getResults">
      <soap:operation soapAction="getResults"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="describe">
      <soap:operation soapAction="describe"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getLastEvent">
      <soap:operation soapAction="getLastEvent"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getResultsInfo">
      <soap:operation soapAction="getResultsInfo"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="maskfeatService">
    <port name="maskfeatPort" binding="tns:maskfeatPortBinding">
<documentation>Write a sequence with masked features</documentation>
      <soap:address location="http://wsembnet.vital-it.ch:80/soaplab2-axis/typed/services/edit.maskfeat"/>
    </port>
  </service>
</definitions>
