dataset/154 - Content management software/56981.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://schemas.microsoft.com/sharepoint/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:s0="http://schemas.microsoft.com/sharepoint/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/">
  <types>
    <s:schema xmlns:s="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/sharepoint/soap/">
      <s:import namespace="http://www.w3.org/2001/XMLSchema"/>
      <s:element name="DeleteAllVersions">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="fileName" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAllVersionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="DeleteAllVersionsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteVersion">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="fileName" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="fileVersion" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="DeleteVersionResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RestoreVersion">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="fileName" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="fileVersion" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RestoreVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="RestoreVersionResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVersions">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="fileName" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVersionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="GetVersionsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="DeleteAllVersionsSoapOut">
    <part name="parameters" element="s0:DeleteAllVersionsResponse"/>
  </message>
  <message name="DeleteAllVersionsSoapIn">
    <part name="parameters" element="s0:DeleteAllVersions"/>
  </message>
  <message name="GetVersionsSoapOut">
    <part name="parameters" element="s0:GetVersionsResponse"/>
  </message>
  <message name="DeleteVersionSoapIn">
    <part name="parameters" element="s0:DeleteVersion"/>
  </message>
  <message name="DeleteVersionSoapOut">
    <part name="parameters" element="s0:DeleteVersionResponse"/>
  </message>
  <message name="GetVersionsSoapIn">
    <part name="parameters" element="s0:GetVersions"/>
  </message>
  <message name="RestoreVersionSoapIn">
    <part name="parameters" element="s0:RestoreVersion"/>
  </message>
  <message name="RestoreVersionSoapOut">
    <part name="parameters" element="s0:RestoreVersionResponse"/>
  </message>
  <portType name="VersionsSoap">
    <operation name="DeleteAllVersions">
      <input message="s0:DeleteAllVersionsSoapIn"/>
      <output message="s0:DeleteAllVersionsSoapOut"/>
    </operation>
    <operation name="DeleteVersion">
      <input message="s0:DeleteVersionSoapIn"/>
      <output message="s0:DeleteVersionSoapOut"/>
    </operation>
    <operation name="RestoreVersion">
      <input message="s0:RestoreVersionSoapIn"/>
      <output message="s0:RestoreVersionSoapOut"/>
    </operation>
    <operation name="GetVersions">
      <input message="s0:GetVersionsSoapIn"/>
      <output message="s0:GetVersionsSoapOut"/>
    </operation>
  </portType>
  <binding name="VersionsSoap" type="s0:VersionsSoap">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="DeleteAllVersions">
      <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/DeleteAllVersions" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DeleteVersion">
      <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/DeleteVersion" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="RestoreVersion">
      <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/RestoreVersion" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetVersions">
      <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/GetVersions" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="Versions">
    <port name="VersionsSoap" binding="s0:VersionsSoap">
      <soap:address location="http://doktoranci.polsl.pl/_vti_bin/versions.asmx"/>
    </port>
  </service>
</definitions>
