dataset/231 - Data management and query software/11576.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:nabonidus-org:services:search:v1" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:nabonidus-org:services:search:v1" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <s:schema xmlns:s="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:nabonidus-org:services:search:v1">
      <s:element name="searchRequest">
        <s:complexType>
          <s:sequence>
            <s:element default="" maxOccurs="1" minOccurs="0" name="query" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="searchResponse" type="tns:searchResponse"/>
      <s:complexType name="searchResponse">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="result" type="tns:searchResult"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="searchResult">
        <s:sequence>
          <s:element default="" maxOccurs="1" minOccurs="0" name="title" type="s:string"/>
          <s:element default="" maxOccurs="1" minOccurs="0" name="description" type="s:string"/>
          <s:element default="" maxOccurs="1" minOccurs="0" name="url" type="s:string"/>
          <s:element default="" maxOccurs="1" minOccurs="0" name="thumbnailUrl" type="s:string"/>
          <s:element default="0" maxOccurs="1" minOccurs="0" name="longitude" type="s:double"/>
          <s:element default="0" maxOccurs="1" minOccurs="0" name="latitude" type="s:double"/>
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SearchSoapOut">
    <wsdl:part name="SearchResult" element="tns:searchResponse"/>
  </wsdl:message>
  <wsdl:message name="SearchSoapIn">
    <wsdl:part name="searchRequest" element="tns:searchRequest"/>
  </wsdl:message>
  <wsdl:portType name="SearchService">
    <wsdl:operation name="Search">
      <wsdl:input message="tns:SearchSoapIn"/>
      <wsdl:output message="tns:SearchSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SearchService" type="tns:SearchService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Search">
      <soap:operation soapAction="urn:nabonidus-org:services:search:v1:searchIn" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SearchServicePort">
    <wsdl:port name="SearchService" binding="tns:SearchService">
      <soap:address location="http://www.nabonidus.org/SearchService.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
