dataset/231 - Data management and query software/1894.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Jobs.Cas.jhu.edu" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s1="http://vizier.u-strasbg.fr/xml/VOTable-1.1.xsd" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://Jobs.Cas.jhu.edu" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">An interface for performing basic operations on a jobsDB $Name:  $ $Revision: 1.97 $</wsdl:documentation>
  <wsdl:types>
    <s:schema xmlns:s="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://Jobs.Cas.jhu.edu">
      <s:import namespace="http://vizier.u-strasbg.fr/xml/VOTable-1.1.xsd"/>
      <s:element name="CheckSyntax">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="wsId" type="s:long"/>
            <s:element maxOccurs="1" minOccurs="0" name="qry" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="context" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckSyntaxResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="CheckSyntaxResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPlan">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="wsid" type="s:long"/>
            <s:element maxOccurs="1" minOccurs="0" name="target" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="qry" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPlanResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="GetPlanResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema"/>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitShortJobObject">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="wsid" type="s:long"/>
            <s:element maxOccurs="1" minOccurs="0" name="qry" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="target" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="taskname" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="1" name="autocomplete" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitShortJobObjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="SubmitShortJobObjectResult" type="tns:ArrayOfArrayOfAnyType"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfArrayOfAnyType">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="ArrayOfAnyType" nillable="true" type="tns:ArrayOfAnyType"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="anyType" nillable="true"/>
        </s:sequence>
      </s:complexType>
      <s:element name="SubmitShortJobVOTABLE">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="wsid" type="s:long"/>
            <s:element maxOccurs="1" minOccurs="0" name="qry" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="target" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="taskname" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="1" name="autocomplete" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitShortJobVOTABLEResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" ref="s1:SubmitShortJobVOTABLEResult"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitShortJob">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="wsid" type="s:long"/>
            <s:element maxOccurs="1" minOccurs="0" name="qry" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="target" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="taskname" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="1" name="autocomplete" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitShortJobResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="SubmitShortJobResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema"/>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitJob">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="wsid" type="s:long"/>
            <s:element maxOccurs="1" minOccurs="0" name="qry" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="target" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="taskname" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="1" name="estimate" type="s:int"/>
            <s:element maxOccurs="1" minOccurs="1" name="autocomplete" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitJobResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="SubmitJobResult" type="s:long"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Heartbeat">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="wsid" type="s:long"/>
            <s:element maxOccurs="1" minOccurs="0" name="target" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="1" name="queue" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HeartbeatResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="HeartbeatResult" type="s:long"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelJob">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="wsId" type="s:long"/>
            <s:element maxOccurs="1" minOccurs="1" name="jobId" type="s:long"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelJobResponse">
        <s:complexType/>
      </s:element>
      <s:element name="StatusJob">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="wsId" type="s:long"/>
            <s:element maxOccurs="1" minOccurs="1" name="jobId" type="s:long"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StatusJobResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="StatusJobResult" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindJobDataSet">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="wsId" type="s:long"/>
            <s:element maxOccurs="1" minOccurs="0" name="predicate" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindJobDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="FindJobDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema"/>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindJobWithStatusDataSet">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="wsId" type="s:long"/>
            <s:element maxOccurs="1" minOccurs="1" name="setSize" type="s:int"/>
            <s:element maxOccurs="1" minOccurs="1" name="position" type="s:int"/>
            <s:element maxOccurs="1" minOccurs="0" name="select" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="where" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="1" name="justCount" type="s:boolean"/>
            <s:element maxOccurs="1" minOccurs="1" name="maxChars" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindJobWithStatusDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="FindJobWithStatusDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema"/>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindJob">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="wsId" type="s:long"/>
            <s:element maxOccurs="1" minOccurs="0" name="predicate" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Job">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="1" name="JobID" type="s:long"/>
          <s:element maxOccurs="1" minOccurs="1" name="Rows" type="s:long"/>
          <s:element maxOccurs="1" minOccurs="1" name="WebServicesID" type="s:long"/>
          <s:element maxOccurs="1" minOccurs="1" name="TimeSubmit" type="s:dateTime"/>
          <s:element maxOccurs="1" minOccurs="1" name="TimeStart" type="s:dateTime"/>
          <s:element maxOccurs="1" minOccurs="1" name="TimeEnd" type="s:dateTime"/>
          <s:element maxOccurs="1" minOccurs="1" name="SendEmail" type="s:int"/>
          <s:element maxOccurs="1" minOccurs="1" name="Status" type="s:int"/>
          <s:element maxOccurs="1" minOccurs="1" name="AutoComplete" type="s:int"/>
          <s:element maxOccurs="1" minOccurs="1" name="Estimate" type="s:int"/>
          <s:element maxOccurs="1" minOccurs="0" name="TaskName" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="OutputLoc" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="HostIP" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Message" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Query" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="ModifiedQuery" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Target" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="OutputType" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Params" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Created_Table" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfJob">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="Job" nillable="true" type="tns:Job"/>
        </s:sequence>
      </s:complexType>
      <s:element name="FindJobResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="FindJobResult" type="tns:ArrayOfJob"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListServers">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="wsid" type="s:long"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Server">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="Name" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Target" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="User" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Catalog" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Priv" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Pass" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="CStringExtra" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="Queue" type="s:int"/>
          <s:element maxOccurs="1" minOccurs="1" name="ExecLimit" type="s:int"/>
          <s:element maxOccurs="1" minOccurs="1" name="Rank" type="s:int"/>
          <s:element maxOccurs="1" minOccurs="1" name="Type" type="s:int"/>
          <s:element maxOccurs="1" minOccurs="0" name="Host" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfServer">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="Server" nillable="true" type="tns:Server"/>
        </s:sequence>
      </s:complexType>
      <s:element name="ListServersResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="ListServersResult" type="tns:ArrayOfServer"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getStatusHTML">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="wsid" type="s:long"/>
            <s:element maxOccurs="1" minOccurs="1" name="status" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getStatusHTMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="getStatusHTMLResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOutputDownloadsAsJobs">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="wsid" type="s:long"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOutputDownloadsAsJobsResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="GetOutputDownloadsAsJobsResult" type="tns:ArrayOfJob"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPendingOutputAsJobs">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="wsid" type="s:long"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPendingOutputAsJobsResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="GetPendingOutputAsJobsResult" type="tns:ArrayOfJob"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFailedOutputAsJobs">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="wsid" type="s:long"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFailedOutputAsJobsResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="GetFailedOutputAsJobsResult" type="tns:ArrayOfJob"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string"/>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema"/>
            <s:any/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArrayOfArrayOfAnyType" nillable="true" type="tns:ArrayOfArrayOfAnyType"/>
      <s:element name="long" type="s:long"/>
      <s:element name="int" type="s:int"/>
      <s:element name="ArrayOfJob" nillable="true" type="tns:ArrayOfJob"/>
      <s:element name="ArrayOfServer" nillable="true" type="tns:ArrayOfServer"/>
    </s:schema>
    <s:schema xmlns:s="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://vizier.u-strasbg.fr/xml/VOTable-1.1.xsd">
      <s:complexType name="VOTABLE">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="DESCRIPTION" type="s1:anyTEXT"/>
          <s:element maxOccurs="1" minOccurs="0" name="DEFINITIONS" type="s1:ArrayOfChoice1"/>
          <s:element maxOccurs="unbounded" minOccurs="0" name="INFO" type="s1:INFO"/>
          <s:element maxOccurs="unbounded" minOccurs="0" name="RESOURCE" type="s1:RESOURCE"/>
        </s:sequence>
        <s:attribute name="ID" type="s:ID"/>
        <s:attribute name="version" type="s1:VOTABLEVersion"/>
      </s:complexType>
      <s:complexType mixed="true" name="anyTEXT">
        <s:sequence>
          <s:any maxOccurs="unbounded" minOccurs="0"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfChoice1">
        <s:choice maxOccurs="unbounded" minOccurs="0">
          <s:element maxOccurs="1" minOccurs="0" name="COOSYS" type="s1:COOSYS"/>
          <s:element maxOccurs="1" minOccurs="0" name="PARAM" type="s1:PARAM"/>
        </s:choice>
      </s:complexType>
      <s:complexType mixed="true" name="COOSYS">
        <s:attribute name="ID" type="s:ID"/>
        <s:attribute name="equinox" type="s:token"/>
        <s:attribute name="epoch" type="s:token"/>
        <s:attribute default="eq_FK5" name="system" type="s1:COOSYSSystem"/>
      </s:complexType>
      <s:simpleType name="COOSYSSystem">
        <s:restriction base="s:string">
          <s:enumeration value="eq_FK4"/>
          <s:enumeration value="eq_FK5"/>
          <s:enumeration value="ICRS"/>
          <s:enumeration value="ecl_FK4"/>
          <s:enumeration value="ecl_FK5"/>
          <s:enumeration value="galactic"/>
          <s:enumeration value="supergalactic"/>
          <s:enumeration value="xy"/>
          <s:enumeration value="barycentric"/>
          <s:enumeration value="geo_app"/>
        </s:restriction>
      </s:simpleType>
      <s:complexType name="PARAM">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="DESCRIPTION" type="s1:anyTEXT"/>
          <s:element maxOccurs="1" minOccurs="0" name="VALUES" type="s1:VALUES"/>
          <s:element maxOccurs="unbounded" minOccurs="0" name="LINK" type="s1:LINK"/>
        </s:sequence>
        <s:attribute name="ID" type="s:ID"/>
        <s:attribute name="unit" type="s:token"/>
        <s:attribute name="datatype" type="s1:dataType" use="required"/>
        <s:attribute name="precision" type="s:token"/>
        <s:attribute name="width" type="s:positiveInteger"/>
        <s:attribute name="ref" type="s:IDREF"/>
        <s:attribute name="name" type="s:token"/>
        <s:attribute name="ucd" type="s:token"/>
        <s:attribute name="utype" type="s:string"/>
        <s:attribute name="value" type="s:string"/>
        <s:attribute name="arraysize" type="s:token"/>
      </s:complexType>
      <s:complexType name="VALUES">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="MIN" type="s1:MIN"/>
          <s:element maxOccurs="1" minOccurs="0" name="MAX" type="s1:MAX"/>
          <s:element maxOccurs="unbounded" minOccurs="0" name="OPTION" type="s1:OPTION"/>
        </s:sequence>
        <s:attribute name="ID" type="s:ID"/>
        <s:attribute default="legal" name="type" type="s1:VALUESType"/>
        <s:attribute name="null" type="s:token"/>
        <s:attribute name="ref" type="s:IDREF"/>
      </s:complexType>
      <s:complexType name="MIN">
        <s:attribute name="value" type="s:string"/>
        <s:attribute default="yes" name="inclusive" type="s1:yesno"/>
      </s:complexType>
      <s:simpleType name="yesno">
        <s:restriction base="s:string">
          <s:enumeration value="yes"/>
          <s:enumeration value="no"/>
        </s:restriction>
      </s:simpleType>
      <s:complexType name="MAX">
        <s:attribute name="value" type="s:string"/>
        <s:attribute default="yes" name="inclusive" type="s1:yesno"/>
      </s:complexType>
      <s:complexType name="OPTION">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="OPTION" type="s1:OPTION"/>
        </s:sequence>
        <s:attribute name="name" type="s:token"/>
        <s:attribute name="value" type="s:string"/>
      </s:complexType>
      <s:simpleType name="VALUESType">
        <s:restriction base="s:string">
          <s:enumeration value="legal"/>
          <s:enumeration value="actual"/>
        </s:restriction>
      </s:simpleType>
      <s:complexType mixed="true" name="LINK">
        <s:attribute name="ID" type="s:ID"/>
        <s:attribute name="content-role" type="s1:LINKContentrole"/>
        <s:attribute name="content-type" type="s:token"/>
        <s:attribute name="title" type="s:string"/>
        <s:attribute name="value" type="s:string"/>
        <s:attribute name="href" type="s:anyURI"/>
        <s:attribute name="gref" type="s:token"/>
        <s:attribute name="action" type="s:anyURI"/>
      </s:complexType>
      <s:simpleType name="LINKContentrole">
        <s:restriction base="s:string">
          <s:enumeration value="query"/>
          <s:enumeration value="hints"/>
          <s:enumeration value="doc"/>
          <s:enumeration value="location"/>
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="dataType">
        <s:restriction base="s:string">
          <s:enumeration value="boolean"/>
          <s:enumeration value="bit"/>
          <s:enumeration value="unsignedByte"/>
          <s:enumeration value="short"/>
          <s:enumeration value="int"/>
          <s:enumeration value="long"/>
          <s:enumeration value="char"/>
          <s:enumeration value="unicodeChar"/>
          <s:enumeration value="float"/>
          <s:enumeration value="double"/>
          <s:enumeration value="floatComplex"/>
          <s:enumeration value="doubleComplex"/>
        </s:restriction>
      </s:simpleType>
      <s:complexType mixed="true" name="INFO">
        <s:attribute name="ID" type="s:ID"/>
        <s:attribute name="name" type="s:token"/>
        <s:attribute name="value" type="s:string"/>
      </s:complexType>
      <s:complexType name="RESOURCE">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="DESCRIPTION" type="s1:anyTEXT"/>
          <s:choice maxOccurs="unbounded" minOccurs="0">
            <s:element maxOccurs="1" minOccurs="0" name="PARAM" type="s1:PARAM"/>
            <s:element maxOccurs="1" minOccurs="0" name="COOSYS" type="s1:COOSYS"/>
            <s:element maxOccurs="1" minOccurs="0" name="INFO" type="s1:INFO"/>
          </s:choice>
          <s:element maxOccurs="unbounded" minOccurs="0" name="LINK" type="s1:LINK"/>
          <s:element maxOccurs="unbounded" minOccurs="0" name="TABLE" type="s1:TABLE"/>
          <s:element maxOccurs="unbounded" minOccurs="0" name="RESOURCE" type="s1:RESOURCE"/>
          <s:any maxOccurs="unbounded" minOccurs="0"/>
        </s:sequence>
        <s:attribute name="name" type="s:token"/>
        <s:attribute name="ID" type="s:ID"/>
        <s:attribute default="results" name="type" type="s1:RESOURCEType"/>
        <s:anyAttribute/>
      </s:complexType>
      <s:complexType name="TABLE">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="DESCRIPTION" type="s1:anyTEXT"/>
          <s:choice maxOccurs="unbounded" minOccurs="0">
            <s:element maxOccurs="1" minOccurs="0" name="PARAM" type="s1:PARAM"/>
            <s:element maxOccurs="1" minOccurs="0" name="GROUP" type="s1:GROUP"/>
            <s:element maxOccurs="1" minOccurs="0" name="FIELD" type="s1:FIELD"/>
          </s:choice>
          <s:element maxOccurs="unbounded" minOccurs="0" name="LINK" type="s1:LINK"/>
          <s:element maxOccurs="1" minOccurs="0" name="DATA" type="s1:DATA"/>
        </s:sequence>
        <s:attribute name="ID" type="s:ID"/>
        <s:attribute name="name" type="s:token"/>
        <s:attribute name="ref" type="s:IDREF"/>
      </s:complexType>
      <s:complexType name="GROUP">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="DESCRIPTION" type="s1:anyTEXT"/>
          <s:choice maxOccurs="unbounded" minOccurs="0">
            <s:element maxOccurs="1" minOccurs="0" name="PARAMref" type="s1:PARAMref"/>
            <s:element maxOccurs="1" minOccurs="0" name="PARAM" type="s1:PARAM"/>
            <s:element maxOccurs="1" minOccurs="0" name="FIELD" type="s1:FIELD"/>
            <s:element maxOccurs="1" minOccurs="0" name="GROUP" type="s1:GROUP"/>
            <s:element maxOccurs="1" minOccurs="0" name="FIELDref" type="s1:FIELDref"/>
          </s:choice>
        </s:sequence>
        <s:attribute name="ID" type="s:ID"/>
        <s:attribute name="name" type="s:token"/>
        <s:attribute name="ref" type="s:IDREF"/>
        <s:attribute name="ucd" type="s:token"/>
        <s:attribute name="utype" type="s:string"/>
      </s:complexType>
      <s:complexType name="PARAMref">
        <s:attribute name="ref" type="s:IDREF"/>
      </s:complexType>
      <s:complexType name="FIELD">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="DESCRIPTION" type="s1:anyTEXT"/>
          <s:element maxOccurs="1" minOccurs="0" name="VALUES" type="s1:VALUES"/>
          <s:element maxOccurs="unbounded" minOccurs="0" name="LINK" type="s1:LINK"/>
        </s:sequence>
        <s:attribute name="ID" type="s:ID"/>
        <s:attribute name="unit" type="s:token"/>
        <s:attribute name="datatype" type="s1:dataType" use="required"/>
        <s:attribute name="precision" type="s:token"/>
        <s:attribute name="width" type="s:positiveInteger"/>
        <s:attribute name="ref" type="s:IDREF"/>
        <s:attribute name="name" type="s:token"/>
        <s:attribute name="ucd" type="s:token"/>
        <s:attribute name="utype" type="s:string"/>
        <s:attribute name="arraysize" type="s:string"/>
      </s:complexType>
      <s:complexType name="FIELDref">
        <s:attribute name="ref" type="s:IDREF"/>
      </s:complexType>
      <s:complexType name="DATA">
        <s:sequence>
          <s:choice maxOccurs="1" minOccurs="1">
            <s:element maxOccurs="1" minOccurs="0" name="FITS" type="s1:FITS"/>
            <s:element maxOccurs="1" minOccurs="0" name="TABLEDATA" type="s1:TABLEDATA"/>
            <s:element maxOccurs="1" minOccurs="0" name="BINARY" type="s1:BINARY"/>
          </s:choice>
        </s:sequence>
      </s:complexType>
      <s:complexType name="FITS">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="STREAM" type="s1:STREAM"/>
        </s:sequence>
        <s:attribute name="extnum" type="s:positiveInteger"/>
      </s:complexType>
      <s:complexType name="STREAM">
        <s:simpleContent>
          <s:extension base="s:string">
            <s:attribute default="locator" name="type" type="s1:STREAMType"/>
            <s:attribute name="href" type="s:anyURI"/>
            <s:attribute default="onRequest" name="actuate" type="s1:STREAMActuate"/>
            <s:attribute default="none" name="encoding" type="s1:encodingType"/>
            <s:attribute name="expires" type="s:dateTime"/>
            <s:attribute name="rights" type="s:token"/>
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:simpleType name="STREAMType">
        <s:restriction base="s:string">
          <s:enumeration value="locator"/>
          <s:enumeration value="other"/>
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="STREAMActuate">
        <s:restriction base="s:string">
          <s:enumeration value="onLoad"/>
          <s:enumeration value="onRequest"/>
          <s:enumeration value="other"/>
          <s:enumeration value="none"/>
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="encodingType">
        <s:restriction base="s:string">
          <s:enumeration value="gzip"/>
          <s:enumeration value="base64"/>
          <s:enumeration value="dynamic"/>
          <s:enumeration value="none"/>
        </s:restriction>
      </s:simpleType>
      <s:complexType name="TABLEDATA">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="TR" type="s1:TR"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="TR">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="TD" type="s1:TD"/>
        </s:sequence>
      </s:complexType>
      <s:complexType mixed="true" name="TD">
        <s:attribute name="encoding" type="s1:encodingType"/>
      </s:complexType>
      <s:complexType name="BINARY">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="STREAM" type="s1:STREAM"/>
        </s:sequence>
      </s:complexType>
      <s:simpleType name="RESOURCEType">
        <s:restriction base="s:string">
          <s:enumeration value="results"/>
          <s:enumeration value="meta"/>
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="VOTABLEVersion">
        <s:restriction base="s:string">
          <s:enumeration value="1.1"/>
        </s:restriction>
      </s:simpleType>
      <s:element name="SubmitShortJobVOTABLEResult" type="s1:VOTABLE"/>
      <s:element name="VOTABLE" type="s1:VOTABLE"/>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetOutputDownloadsAsJobsSoapOut">
    <wsdl:part name="parameters" element="tns:GetOutputDownloadsAsJobsResponse"/>
  </wsdl:message>
  <wsdl:message name="StatusJobHttpGetOut">
    <wsdl:part name="Body" element="tns:int"/>
  </wsdl:message>
  <wsdl:message name="GetOutputDownloadsAsJobsHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfJob"/>
  </wsdl:message>
  <wsdl:message name="SubmitShortJobObjectHttpGetIn">
    <wsdl:part name="wsid" type="s:string"/>
    <wsdl:part name="qry" type="s:string"/>
    <wsdl:part name="target" type="s:string"/>
    <wsdl:part name="taskname" type="s:string"/>
    <wsdl:part name="autocomplete" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SubmitShortJobVOTABLEHttpGetOut">
    <wsdl:part name="Body" element="s1:VOTABLE"/>
  </wsdl:message>
  <wsdl:message name="FindJobHttpGetIn">
    <wsdl:part name="wsId" type="s:string"/>
    <wsdl:part name="predicate" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getStatusHTMLHttpPostIn">
    <wsdl:part name="wsid" type="s:string"/>
    <wsdl:part name="status" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetOutputDownloadsAsJobsSoapIn">
    <wsdl:part name="parameters" element="tns:GetOutputDownloadsAsJobs"/>
  </wsdl:message>
  <wsdl:message name="FindJobSoapOut">
    <wsdl:part name="parameters" element="tns:FindJobResponse"/>
  </wsdl:message>
  <wsdl:message name="CheckSyntaxSoapOut">
    <wsdl:part name="parameters" element="tns:CheckSyntaxResponse"/>
  </wsdl:message>
  <wsdl:message name="SubmitJobSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitJob"/>
  </wsdl:message>
  <wsdl:message name="FindJobWithStatusDataSetHttpPostIn">
    <wsdl:part name="wsId" type="s:string"/>
    <wsdl:part name="setSize" type="s:string"/>
    <wsdl:part name="position" type="s:string"/>
    <wsdl:part name="select" type="s:string"/>
    <wsdl:part name="where" type="s:string"/>
    <wsdl:part name="justCount" type="s:string"/>
    <wsdl:part name="maxChars" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="CancelJobHttpGetOut">
  </wsdl:message>
  <wsdl:message name="FindJobWithStatusDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:FindJobWithStatusDataSet"/>
  </wsdl:message>
  <wsdl:message name="HeartbeatSoapOut">
    <wsdl:part name="parameters" element="tns:HeartbeatResponse"/>
  </wsdl:message>
  <wsdl:message name="GetPendingOutputAsJobsHttpGetIn">
    <wsdl:part name="wsid" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetPlanHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="CancelJobHttpPostIn">
    <wsdl:part name="wsId" type="s:string"/>
    <wsdl:part name="jobId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="HeartbeatHttpGetOut">
    <wsdl:part name="Body" element="tns:long"/>
  </wsdl:message>
  <wsdl:message name="FindJobDataSetHttpGetIn">
    <wsdl:part name="wsId" type="s:string"/>
    <wsdl:part name="predicate" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetFailedOutputAsJobsHttpGetIn">
    <wsdl:part name="wsid" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SubmitShortJobObjectSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitShortJobObjectResponse"/>
  </wsdl:message>
  <wsdl:message name="FindJobDataSetHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetPendingOutputAsJobsSoapIn">
    <wsdl:part name="parameters" element="tns:GetPendingOutputAsJobs"/>
  </wsdl:message>
  <wsdl:message name="FindJobDataSetHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="FindJobHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfJob"/>
  </wsdl:message>
  <wsdl:message name="SubmitJobHttpGetOut">
    <wsdl:part name="Body" element="tns:long"/>
  </wsdl:message>
  <wsdl:message name="SubmitShortJobObjectSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitShortJobObject"/>
  </wsdl:message>
  <wsdl:message name="SubmitShortJobObjectHttpPostIn">
    <wsdl:part name="wsid" type="s:string"/>
    <wsdl:part name="qry" type="s:string"/>
    <wsdl:part name="target" type="s:string"/>
    <wsdl:part name="taskname" type="s:string"/>
    <wsdl:part name="autocomplete" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetFailedOutputAsJobsHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfJob"/>
  </wsdl:message>
  <wsdl:message name="CheckSyntaxHttpPostOut">
    <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetPlanSoapIn">
    <wsdl:part name="parameters" element="tns:GetPlan"/>
  </wsdl:message>
  <wsdl:message name="StatusJobHttpGetIn">
    <wsdl:part name="wsId" type="s:string"/>
    <wsdl:part name="jobId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="StatusJobHttpPostOut">
    <wsdl:part name="Body" element="tns:int"/>
  </wsdl:message>
  <wsdl:message name="getStatusHTMLSoapIn">
    <wsdl:part name="parameters" element="tns:getStatusHTML"/>
  </wsdl:message>
  <wsdl:message name="FindJobDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:FindJobDataSet"/>
  </wsdl:message>
  <wsdl:message name="GetPendingOutputAsJobsHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfJob"/>
  </wsdl:message>
  <wsdl:message name="GetPendingOutputAsJobsHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfJob"/>
  </wsdl:message>
  <wsdl:message name="SubmitShortJobSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitShortJob"/>
  </wsdl:message>
  <wsdl:message name="FindJobWithStatusDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:FindJobWithStatusDataSetResponse"/>
  </wsdl:message>
  <wsdl:message name="GetPlanHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="CheckSyntaxHttpGetIn">
    <wsdl:part name="wsId" type="s:string"/>
    <wsdl:part name="qry" type="s:string"/>
    <wsdl:part name="context" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="StatusJobSoapIn">
    <wsdl:part name="parameters" element="tns:StatusJob"/>
  </wsdl:message>
  <wsdl:message name="SubmitShortJobVOTABLESoapIn">
    <wsdl:part name="parameters" element="tns:SubmitShortJobVOTABLE"/>
  </wsdl:message>
  <wsdl:message name="SubmitShortJobHttpPostIn">
    <wsdl:part name="wsid" type="s:string"/>
    <wsdl:part name="qry" type="s:string"/>
    <wsdl:part name="target" type="s:string"/>
    <wsdl:part name="taskname" type="s:string"/>
    <wsdl:part name="autocomplete" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getStatusHTMLHttpGetOut">
    <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="CheckSyntaxHttpGetOut">
    <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetFailedOutputAsJobsHttpPostIn">
    <wsdl:part name="wsid" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="StatusJobHttpPostIn">
    <wsdl:part name="wsId" type="s:string"/>
    <wsdl:part name="jobId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SubmitShortJobObjectHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfArrayOfAnyType"/>
  </wsdl:message>
  <wsdl:message name="SubmitShortJobHttpGetIn">
    <wsdl:part name="wsid" type="s:string"/>
    <wsdl:part name="qry" type="s:string"/>
    <wsdl:part name="target" type="s:string"/>
    <wsdl:part name="taskname" type="s:string"/>
    <wsdl:part name="autocomplete" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="HeartbeatHttpPostIn">
    <wsdl:part name="wsid" type="s:string"/>
    <wsdl:part name="target" type="s:string"/>
    <wsdl:part name="queue" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="CancelJobSoapIn">
    <wsdl:part name="parameters" element="tns:CancelJob"/>
  </wsdl:message>
  <wsdl:message name="GetOutputDownloadsAsJobsHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfJob"/>
  </wsdl:message>
  <wsdl:message name="SubmitShortJobVOTABLEHttpPostOut">
    <wsdl:part name="Body" element="s1:VOTABLE"/>
  </wsdl:message>
  <wsdl:message name="SubmitShortJobSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitShortJobResponse"/>
  </wsdl:message>
  <wsdl:message name="GetOutputDownloadsAsJobsHttpGetIn">
    <wsdl:part name="wsid" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SubmitShortJobVOTABLEHttpGetIn">
    <wsdl:part name="wsid" type="s:string"/>
    <wsdl:part name="qry" type="s:string"/>
    <wsdl:part name="target" type="s:string"/>
    <wsdl:part name="taskname" type="s:string"/>
    <wsdl:part name="autocomplete" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SubmitShortJobObjectHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfArrayOfAnyType"/>
  </wsdl:message>
  <wsdl:message name="ListServersHttpPostIn">
    <wsdl:part name="wsid" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SubmitJobHttpPostIn">
    <wsdl:part name="wsid" type="s:string"/>
    <wsdl:part name="qry" type="s:string"/>
    <wsdl:part name="target" type="s:string"/>
    <wsdl:part name="taskname" type="s:string"/>
    <wsdl:part name="estimate" type="s:string"/>
    <wsdl:part name="autocomplete" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetPendingOutputAsJobsHttpPostIn">
    <wsdl:part name="wsid" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SubmitShortJobVOTABLEHttpPostIn">
    <wsdl:part name="wsid" type="s:string"/>
    <wsdl:part name="qry" type="s:string"/>
    <wsdl:part name="target" type="s:string"/>
    <wsdl:part name="taskname" type="s:string"/>
    <wsdl:part name="autocomplete" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SubmitShortJobVOTABLESoapOut">
    <wsdl:part name="parameters" element="tns:SubmitShortJobVOTABLEResponse"/>
  </wsdl:message>
  <wsdl:message name="FindJobDataSetHttpPostIn">
    <wsdl:part name="wsId" type="s:string"/>
    <wsdl:part name="predicate" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="StatusJobSoapOut">
    <wsdl:part name="parameters" element="tns:StatusJobResponse"/>
  </wsdl:message>
  <wsdl:message name="FindJobSoapIn">
    <wsdl:part name="parameters" element="tns:FindJob"/>
  </wsdl:message>
  <wsdl:message name="HeartbeatSoapIn">
    <wsdl:part name="parameters" element="tns:Heartbeat"/>
  </wsdl:message>
  <wsdl:message name="FindJobWithStatusDataSetHttpGetIn">
    <wsdl:part name="wsId" type="s:string"/>
    <wsdl:part name="setSize" type="s:string"/>
    <wsdl:part name="position" type="s:string"/>
    <wsdl:part name="select" type="s:string"/>
    <wsdl:part name="where" type="s:string"/>
    <wsdl:part name="justCount" type="s:string"/>
    <wsdl:part name="maxChars" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="ListServersSoapOut">
    <wsdl:part name="parameters" element="tns:ListServersResponse"/>
  </wsdl:message>
  <wsdl:message name="FindJobDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:FindJobDataSetResponse"/>
  </wsdl:message>
  <wsdl:message name="GetFailedOutputAsJobsSoapIn">
    <wsdl:part name="parameters" element="tns:GetFailedOutputAsJobs"/>
  </wsdl:message>
  <wsdl:message name="ListServersHttpGetIn">
    <wsdl:part name="wsid" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="ListServersSoapIn">
    <wsdl:part name="parameters" element="tns:ListServers"/>
  </wsdl:message>
  <wsdl:message name="CheckSyntaxHttpPostIn">
    <wsdl:part name="wsId" type="s:string"/>
    <wsdl:part name="qry" type="s:string"/>
    <wsdl:part name="context" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="ListServersHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfServer"/>
  </wsdl:message>
  <wsdl:message name="SubmitJobSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitJobResponse"/>
  </wsdl:message>
  <wsdl:message name="ListServersHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfServer"/>
  </wsdl:message>
  <wsdl:message name="SubmitShortJobHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="FindJobWithStatusDataSetHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetFailedOutputAsJobsHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfJob"/>
  </wsdl:message>
  <wsdl:message name="GetPlanSoapOut">
    <wsdl:part name="parameters" element="tns:GetPlanResponse"/>
  </wsdl:message>
  <wsdl:message name="FindJobHttpPostIn">
    <wsdl:part name="wsId" type="s:string"/>
    <wsdl:part name="predicate" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetPlanHttpGetIn">
    <wsdl:part name="wsid" type="s:string"/>
    <wsdl:part name="target" type="s:string"/>
    <wsdl:part name="qry" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetPendingOutputAsJobsSoapOut">
    <wsdl:part name="parameters" element="tns:GetPendingOutputAsJobsResponse"/>
  </wsdl:message>
  <wsdl:message name="getStatusHTMLSoapOut">
    <wsdl:part name="parameters" element="tns:getStatusHTMLResponse"/>
  </wsdl:message>
  <wsdl:message name="CancelJobHttpPostOut">
  </wsdl:message>
  <wsdl:message name="CancelJobHttpGetIn">
    <wsdl:part name="wsId" type="s:string"/>
    <wsdl:part name="jobId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="FindJobHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfJob"/>
  </wsdl:message>
  <wsdl:message name="SubmitJobHttpPostOut">
    <wsdl:part name="Body" element="tns:long"/>
  </wsdl:message>
  <wsdl:message name="HeartbeatHttpPostOut">
    <wsdl:part name="Body" element="tns:long"/>
  </wsdl:message>
  <wsdl:message name="CancelJobSoapOut">
    <wsdl:part name="parameters" element="tns:CancelJobResponse"/>
  </wsdl:message>
  <wsdl:message name="getStatusHTMLHttpGetIn">
    <wsdl:part name="wsid" type="s:string"/>
    <wsdl:part name="status" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="HeartbeatHttpGetIn">
    <wsdl:part name="wsid" type="s:string"/>
    <wsdl:part name="target" type="s:string"/>
    <wsdl:part name="queue" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SubmitJobHttpGetIn">
    <wsdl:part name="wsid" type="s:string"/>
    <wsdl:part name="qry" type="s:string"/>
    <wsdl:part name="target" type="s:string"/>
    <wsdl:part name="taskname" type="s:string"/>
    <wsdl:part name="estimate" type="s:string"/>
    <wsdl:part name="autocomplete" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetOutputDownloadsAsJobsHttpPostIn">
    <wsdl:part name="wsid" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="CheckSyntaxSoapIn">
    <wsdl:part name="parameters" element="tns:CheckSyntax"/>
  </wsdl:message>
  <wsdl:message name="FindJobWithStatusDataSetHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="getStatusHTMLHttpPostOut">
    <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetFailedOutputAsJobsSoapOut">
    <wsdl:part name="parameters" element="tns:GetFailedOutputAsJobsResponse"/>
  </wsdl:message>
  <wsdl:message name="SubmitShortJobHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetPlanHttpPostIn">
    <wsdl:part name="wsid" type="s:string"/>
    <wsdl:part name="target" type="s:string"/>
    <wsdl:part name="qry" type="s:string"/>
  </wsdl:message>
  <wsdl:portType name="CasJobsHttpGet">
    <wsdl:operation name="CheckSyntax">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns error-as-string if syntax error is found, null if no errors.</wsdl:documentation>
      <wsdl:input message="tns:CheckSyntaxHttpGetIn"/>
      <wsdl:output message="tns:CheckSyntaxHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetPlan">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a sql-server plan based on target and qry.</wsdl:documentation>
      <wsdl:input message="tns:GetPlanHttpGetIn"/>
      <wsdl:output message="tns:GetPlanHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="SubmitShortJobObject">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Submits a short job.  Returns an exception if job takes too long, Dataset if job did not.  Autocomplete is currently disabled; the param does nothing.</wsdl:documentation>
      <wsdl:input message="tns:SubmitShortJobObjectHttpGetIn"/>
      <wsdl:output message="tns:SubmitShortJobObjectHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="SubmitShortJobVOTABLE">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Submits a short job.  Returns an exception if job takes too long, Dataset if job did not.  Autocomplete is currently disabled; the param does nothing.</wsdl:documentation>
      <wsdl:input message="tns:SubmitShortJobVOTABLEHttpGetIn"/>
      <wsdl:output message="tns:SubmitShortJobVOTABLEHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="SubmitShortJob">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Submits a short job.  Returns an exception if job takes too long, Dataset if job did not.  Autocomplete is currently disabled; the param does nothing.</wsdl:documentation>
      <wsdl:input message="tns:SubmitShortJobHttpGetIn"/>
      <wsdl:output message="tns:SubmitShortJobHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="SubmitJob">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Creates new job entry and schedules a query for later completion.   Returns the jobid of the created job.  This method is only necessary for long jobs. Autocomplete is disabled (param does nothing)</wsdl:documentation>
      <wsdl:input message="tns:SubmitJobHttpGetIn"/>
      <wsdl:output message="tns:SubmitJobHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="Heartbeat">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Submits a heartbeat job to JobsService</wsdl:documentation>
      <wsdl:input message="tns:HeartbeatHttpGetIn"/>
      <wsdl:output message="tns:HeartbeatHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="CancelJob">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Schedules a job for cancellation. Only works for non-short queue jobs.</wsdl:documentation>
      <wsdl:input message="tns:CancelJobHttpGetIn"/>
      <wsdl:output message="tns:CancelJobHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="StatusJob">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a job's current status.  This is an int, where 0=ready,1=started,2=cancelling,3=cancelled,4=failed,5=finished</wsdl:documentation>
      <wsdl:input message="tns:StatusJobHttpGetIn"/>
      <wsdl:output message="tns:StatusJobHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="FindJobDataSet">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Searches a usr's jobs with parameters given in predicate.  Predicate is of where clause form, ex. 'taskname=&quot;some_name&quot; and rows=some_number</wsdl:documentation>
      <wsdl:input message="tns:FindJobDataSetHttpGetIn"/>
      <wsdl:output message="tns:FindJobDataSetHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="FindJobWithStatusDataSet">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">A join of jobs and status, where j is jobs and s is status.  setSize is the number of jobs to return.  Position is a multiplier on setSize, ie top 20, or next 20, etc.  User can append select and/or where.  justCount set to true returns a dataset with the total # of jobs for the specified conditions.  Set size is how many jobs to return, position is the nth set of the specified size.  So if you had 10 jobs, setSize was 2 and position was 1, it would return jobs  3&amp;4.  maxChars is the maximum # of characters to return for any single textfield.  Setting this to -1 will return everything.</wsdl:documentation>
      <wsdl:input message="tns:FindJobWithStatusDataSetHttpGetIn"/>
      <wsdl:output message="tns:FindJobWithStatusDataSetHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="FindJob">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Same as FindJobDataSet, but returns in Job format</wsdl:documentation>
      <wsdl:input message="tns:FindJobHttpGetIn"/>
      <wsdl:output message="tns:FindJobHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="ListServers">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">List available targets and queues.</wsdl:documentation>
      <wsdl:input message="tns:ListServersHttpGetIn"/>
      <wsdl:output message="tns:ListServersHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="getStatusHTML">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return an html representation of the job status.</wsdl:documentation>
      <wsdl:input message="tns:getStatusHTMLHttpGetIn"/>
      <wsdl:output message="tns:getStatusHTMLHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetOutputDownloadsAsJobs">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lists available output downloads</wsdl:documentation>
      <wsdl:input message="tns:GetOutputDownloadsAsJobsHttpGetIn"/>
      <wsdl:output message="tns:GetOutputDownloadsAsJobsHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetPendingOutputAsJobs">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lists pending output</wsdl:documentation>
      <wsdl:input message="tns:GetPendingOutputAsJobsHttpGetIn"/>
      <wsdl:output message="tns:GetPendingOutputAsJobsHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetFailedOutputAsJobs">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lists failed output jobs</wsdl:documentation>
      <wsdl:input message="tns:GetFailedOutputAsJobsHttpGetIn"/>
      <wsdl:output message="tns:GetFailedOutputAsJobsHttpGetOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CasJobsSoap">
    <wsdl:operation name="CheckSyntax">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns error-as-string if syntax error is found, null if no errors.</wsdl:documentation>
      <wsdl:input message="tns:CheckSyntaxSoapIn"/>
      <wsdl:output message="tns:CheckSyntaxSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetPlan">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a sql-server plan based on target and qry.</wsdl:documentation>
      <wsdl:input message="tns:GetPlanSoapIn"/>
      <wsdl:output message="tns:GetPlanSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="SubmitShortJobObject">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Submits a short job.  Returns an exception if job takes too long, Dataset if job did not.  Autocomplete is currently disabled; the param does nothing.</wsdl:documentation>
      <wsdl:input message="tns:SubmitShortJobObjectSoapIn"/>
      <wsdl:output message="tns:SubmitShortJobObjectSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="SubmitShortJobVOTABLE">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Submits a short job.  Returns an exception if job takes too long, Dataset if job did not.  Autocomplete is currently disabled; the param does nothing.</wsdl:documentation>
      <wsdl:input message="tns:SubmitShortJobVOTABLESoapIn"/>
      <wsdl:output message="tns:SubmitShortJobVOTABLESoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="SubmitShortJob">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Submits a short job.  Returns an exception if job takes too long, Dataset if job did not.  Autocomplete is currently disabled; the param does nothing.</wsdl:documentation>
      <wsdl:input message="tns:SubmitShortJobSoapIn"/>
      <wsdl:output message="tns:SubmitShortJobSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="SubmitJob">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Creates new job entry and schedules a query for later completion.   Returns the jobid of the created job.  This method is only necessary for long jobs. Autocomplete is disabled (param does nothing)</wsdl:documentation>
      <wsdl:input message="tns:SubmitJobSoapIn"/>
      <wsdl:output message="tns:SubmitJobSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="Heartbeat">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Submits a heartbeat job to JobsService</wsdl:documentation>
      <wsdl:input message="tns:HeartbeatSoapIn"/>
      <wsdl:output message="tns:HeartbeatSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="CancelJob">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Schedules a job for cancellation. Only works for non-short queue jobs.</wsdl:documentation>
      <wsdl:input message="tns:CancelJobSoapIn"/>
      <wsdl:output message="tns:CancelJobSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="StatusJob">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a job's current status.  This is an int, where 0=ready,1=started,2=cancelling,3=cancelled,4=failed,5=finished</wsdl:documentation>
      <wsdl:input message="tns:StatusJobSoapIn"/>
      <wsdl:output message="tns:StatusJobSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="FindJobDataSet">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Searches a usr's jobs with parameters given in predicate.  Predicate is of where clause form, ex. 'taskname=&quot;some_name&quot; and rows=some_number</wsdl:documentation>
      <wsdl:input message="tns:FindJobDataSetSoapIn"/>
      <wsdl:output message="tns:FindJobDataSetSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="FindJobWithStatusDataSet">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">A join of jobs and status, where j is jobs and s is status.  setSize is the number of jobs to return.  Position is a multiplier on setSize, ie top 20, or next 20, etc.  User can append select and/or where.  justCount set to true returns a dataset with the total # of jobs for the specified conditions.  Set size is how many jobs to return, position is the nth set of the specified size.  So if you had 10 jobs, setSize was 2 and position was 1, it would return jobs  3&amp;4.  maxChars is the maximum # of characters to return for any single textfield.  Setting this to -1 will return everything.</wsdl:documentation>
      <wsdl:input message="tns:FindJobWithStatusDataSetSoapIn"/>
      <wsdl:output message="tns:FindJobWithStatusDataSetSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="FindJob">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Same as FindJobDataSet, but returns in Job format</wsdl:documentation>
      <wsdl:input message="tns:FindJobSoapIn"/>
      <wsdl:output message="tns:FindJobSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ListServers">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">List available targets and queues.</wsdl:documentation>
      <wsdl:input message="tns:ListServersSoapIn"/>
      <wsdl:output message="tns:ListServersSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="getStatusHTML">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return an html representation of the job status.</wsdl:documentation>
      <wsdl:input message="tns:getStatusHTMLSoapIn"/>
      <wsdl:output message="tns:getStatusHTMLSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetOutputDownloadsAsJobs">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lists available output downloads</wsdl:documentation>
      <wsdl:input message="tns:GetOutputDownloadsAsJobsSoapIn"/>
      <wsdl:output message="tns:GetOutputDownloadsAsJobsSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetPendingOutputAsJobs">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lists pending output</wsdl:documentation>
      <wsdl:input message="tns:GetPendingOutputAsJobsSoapIn"/>
      <wsdl:output message="tns:GetPendingOutputAsJobsSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetFailedOutputAsJobs">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lists failed output jobs</wsdl:documentation>
      <wsdl:input message="tns:GetFailedOutputAsJobsSoapIn"/>
      <wsdl:output message="tns:GetFailedOutputAsJobsSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CasJobsHttpPost">
    <wsdl:operation name="CheckSyntax">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns error-as-string if syntax error is found, null if no errors.</wsdl:documentation>
      <wsdl:input message="tns:CheckSyntaxHttpPostIn"/>
      <wsdl:output message="tns:CheckSyntaxHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetPlan">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a sql-server plan based on target and qry.</wsdl:documentation>
      <wsdl:input message="tns:GetPlanHttpPostIn"/>
      <wsdl:output message="tns:GetPlanHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="SubmitShortJobObject">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Submits a short job.  Returns an exception if job takes too long, Dataset if job did not.  Autocomplete is currently disabled; the param does nothing.</wsdl:documentation>
      <wsdl:input message="tns:SubmitShortJobObjectHttpPostIn"/>
      <wsdl:output message="tns:SubmitShortJobObjectHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="SubmitShortJobVOTABLE">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Submits a short job.  Returns an exception if job takes too long, Dataset if job did not.  Autocomplete is currently disabled; the param does nothing.</wsdl:documentation>
      <wsdl:input message="tns:SubmitShortJobVOTABLEHttpPostIn"/>
      <wsdl:output message="tns:SubmitShortJobVOTABLEHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="SubmitShortJob">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Submits a short job.  Returns an exception if job takes too long, Dataset if job did not.  Autocomplete is currently disabled; the param does nothing.</wsdl:documentation>
      <wsdl:input message="tns:SubmitShortJobHttpPostIn"/>
      <wsdl:output message="tns:SubmitShortJobHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="SubmitJob">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Creates new job entry and schedules a query for later completion.   Returns the jobid of the created job.  This method is only necessary for long jobs. Autocomplete is disabled (param does nothing)</wsdl:documentation>
      <wsdl:input message="tns:SubmitJobHttpPostIn"/>
      <wsdl:output message="tns:SubmitJobHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="Heartbeat">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Submits a heartbeat job to JobsService</wsdl:documentation>
      <wsdl:input message="tns:HeartbeatHttpPostIn"/>
      <wsdl:output message="tns:HeartbeatHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="CancelJob">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Schedules a job for cancellation. Only works for non-short queue jobs.</wsdl:documentation>
      <wsdl:input message="tns:CancelJobHttpPostIn"/>
      <wsdl:output message="tns:CancelJobHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="StatusJob">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a job's current status.  This is an int, where 0=ready,1=started,2=cancelling,3=cancelled,4=failed,5=finished</wsdl:documentation>
      <wsdl:input message="tns:StatusJobHttpPostIn"/>
      <wsdl:output message="tns:StatusJobHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="FindJobDataSet">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Searches a usr's jobs with parameters given in predicate.  Predicate is of where clause form, ex. 'taskname=&quot;some_name&quot; and rows=some_number</wsdl:documentation>
      <wsdl:input message="tns:FindJobDataSetHttpPostIn"/>
      <wsdl:output message="tns:FindJobDataSetHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="FindJobWithStatusDataSet">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">A join of jobs and status, where j is jobs and s is status.  setSize is the number of jobs to return.  Position is a multiplier on setSize, ie top 20, or next 20, etc.  User can append select and/or where.  justCount set to true returns a dataset with the total # of jobs for the specified conditions.  Set size is how many jobs to return, position is the nth set of the specified size.  So if you had 10 jobs, setSize was 2 and position was 1, it would return jobs  3&amp;4.  maxChars is the maximum # of characters to return for any single textfield.  Setting this to -1 will return everything.</wsdl:documentation>
      <wsdl:input message="tns:FindJobWithStatusDataSetHttpPostIn"/>
      <wsdl:output message="tns:FindJobWithStatusDataSetHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="FindJob">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Same as FindJobDataSet, but returns in Job format</wsdl:documentation>
      <wsdl:input message="tns:FindJobHttpPostIn"/>
      <wsdl:output message="tns:FindJobHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="ListServers">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">List available targets and queues.</wsdl:documentation>
      <wsdl:input message="tns:ListServersHttpPostIn"/>
      <wsdl:output message="tns:ListServersHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="getStatusHTML">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return an html representation of the job status.</wsdl:documentation>
      <wsdl:input message="tns:getStatusHTMLHttpPostIn"/>
      <wsdl:output message="tns:getStatusHTMLHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetOutputDownloadsAsJobs">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lists available output downloads</wsdl:documentation>
      <wsdl:input message="tns:GetOutputDownloadsAsJobsHttpPostIn"/>
      <wsdl:output message="tns:GetOutputDownloadsAsJobsHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetPendingOutputAsJobs">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lists pending output</wsdl:documentation>
      <wsdl:input message="tns:GetPendingOutputAsJobsHttpPostIn"/>
      <wsdl:output message="tns:GetPendingOutputAsJobsHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetFailedOutputAsJobs">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lists failed output jobs</wsdl:documentation>
      <wsdl:input message="tns:GetFailedOutputAsJobsHttpPostIn"/>
      <wsdl:output message="tns:GetFailedOutputAsJobsHttpPostOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CasJobsHttpGet" type="tns:CasJobsHttpGet">
    <http:binding verb="GET"/>
    <wsdl:operation name="CheckSyntax">
      <http:operation location="/CheckSyntax"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlan">
      <http:operation location="/GetPlan"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitShortJobObject">
      <http:operation location="/SubmitShortJobObject"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitShortJobVOTABLE">
      <http:operation location="/SubmitShortJobVOTABLE"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitShortJob">
      <http:operation location="/SubmitShortJob"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitJob">
      <http:operation location="/SubmitJob"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Heartbeat">
      <http:operation location="/Heartbeat"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelJob">
      <http:operation location="/CancelJob"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StatusJob">
      <http:operation location="/StatusJob"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindJobDataSet">
      <http:operation location="/FindJobDataSet"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindJobWithStatusDataSet">
      <http:operation location="/FindJobWithStatusDataSet"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindJob">
      <http:operation location="/FindJob"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListServers">
      <http:operation location="/ListServers"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStatusHTML">
      <http:operation location="/getStatusHTML"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOutputDownloadsAsJobs">
      <http:operation location="/GetOutputDownloadsAsJobs"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPendingOutputAsJobs">
      <http:operation location="/GetPendingOutputAsJobs"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFailedOutputAsJobs">
      <http:operation location="/GetFailedOutputAsJobs"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CasJobsSoap12" type="tns:CasJobsSoap">
    <soap12:binding xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CheckSyntax">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://Jobs.Cas.jhu.edu/CheckSyntax" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlan">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://Jobs.Cas.jhu.edu/GetPlan" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitShortJobObject">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://Jobs.Cas.jhu.edu/SubmitShortJobObject" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitShortJobVOTABLE">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://Jobs.Cas.jhu.edu/SubmitShortJobVOTABLE" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitShortJob">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://Jobs.Cas.jhu.edu/SubmitShortJob" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitJob">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://Jobs.Cas.jhu.edu/SubmitJob" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Heartbeat">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://Jobs.Cas.jhu.edu/Heartbeat" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelJob">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://Jobs.Cas.jhu.edu/CancelJob" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StatusJob">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://Jobs.Cas.jhu.edu/StatusJob" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindJobDataSet">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://Jobs.Cas.jhu.edu/FindJobDataSet" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindJobWithStatusDataSet">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://Jobs.Cas.jhu.edu/FindJobWithStatusDataSet" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindJob">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://Jobs.Cas.jhu.edu/FindJob" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListServers">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://Jobs.Cas.jhu.edu/ListServers" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStatusHTML">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://Jobs.Cas.jhu.edu/getStatusHTML" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOutputDownloadsAsJobs">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://Jobs.Cas.jhu.edu/GetOutputDownloadsAsJobs" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPendingOutputAsJobs">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://Jobs.Cas.jhu.edu/GetPendingOutputAsJobs" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFailedOutputAsJobs">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://Jobs.Cas.jhu.edu/GetFailedOutputAsJobs" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CasJobsSoap" type="tns:CasJobsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CheckSyntax">
      <soap:operation soapAction="http://Jobs.Cas.jhu.edu/CheckSyntax" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlan">
      <soap:operation soapAction="http://Jobs.Cas.jhu.edu/GetPlan" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitShortJobObject">
      <soap:operation soapAction="http://Jobs.Cas.jhu.edu/SubmitShortJobObject" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitShortJobVOTABLE">
      <soap:operation soapAction="http://Jobs.Cas.jhu.edu/SubmitShortJobVOTABLE" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitShortJob">
      <soap:operation soapAction="http://Jobs.Cas.jhu.edu/SubmitShortJob" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitJob">
      <soap:operation soapAction="http://Jobs.Cas.jhu.edu/SubmitJob" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Heartbeat">
      <soap:operation soapAction="http://Jobs.Cas.jhu.edu/Heartbeat" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelJob">
      <soap:operation soapAction="http://Jobs.Cas.jhu.edu/CancelJob" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StatusJob">
      <soap:operation soapAction="http://Jobs.Cas.jhu.edu/StatusJob" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindJobDataSet">
      <soap:operation soapAction="http://Jobs.Cas.jhu.edu/FindJobDataSet" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindJobWithStatusDataSet">
      <soap:operation soapAction="http://Jobs.Cas.jhu.edu/FindJobWithStatusDataSet" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindJob">
      <soap:operation soapAction="http://Jobs.Cas.jhu.edu/FindJob" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListServers">
      <soap:operation soapAction="http://Jobs.Cas.jhu.edu/ListServers" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStatusHTML">
      <soap:operation soapAction="http://Jobs.Cas.jhu.edu/getStatusHTML" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOutputDownloadsAsJobs">
      <soap:operation soapAction="http://Jobs.Cas.jhu.edu/GetOutputDownloadsAsJobs" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPendingOutputAsJobs">
      <soap:operation soapAction="http://Jobs.Cas.jhu.edu/GetPendingOutputAsJobs" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFailedOutputAsJobs">
      <soap:operation soapAction="http://Jobs.Cas.jhu.edu/GetFailedOutputAsJobs" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CasJobsHttpPost" type="tns:CasJobsHttpPost">
    <http:binding verb="POST"/>
    <wsdl:operation name="CheckSyntax">
      <http:operation location="/CheckSyntax"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlan">
      <http:operation location="/GetPlan"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitShortJobObject">
      <http:operation location="/SubmitShortJobObject"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitShortJobVOTABLE">
      <http:operation location="/SubmitShortJobVOTABLE"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitShortJob">
      <http:operation location="/SubmitShortJob"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitJob">
      <http:operation location="/SubmitJob"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Heartbeat">
      <http:operation location="/Heartbeat"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelJob">
      <http:operation location="/CancelJob"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StatusJob">
      <http:operation location="/StatusJob"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindJobDataSet">
      <http:operation location="/FindJobDataSet"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindJobWithStatusDataSet">
      <http:operation location="/FindJobWithStatusDataSet"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindJob">
      <http:operation location="/FindJob"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListServers">
      <http:operation location="/ListServers"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStatusHTML">
      <http:operation location="/getStatusHTML"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOutputDownloadsAsJobs">
      <http:operation location="/GetOutputDownloadsAsJobs"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPendingOutputAsJobs">
      <http:operation location="/GetPendingOutputAsJobs"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFailedOutputAsJobs">
      <http:operation location="/GetFailedOutputAsJobs"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CasJobs">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">An interface for performing basic operations on a jobsDB $Name:  $ $Revision: 1.97 $</wsdl:documentation>
    <wsdl:port name="CasJobsHttpGet" binding="tns:CasJobsHttpGet">
      <http:address location="http://galex.stsci.edu/casjobs/CasJobs.asmx"/>
    </wsdl:port>
    <wsdl:port name="CasJobsSoap" binding="tns:CasJobsSoap">
      <soap:address location="http://galex.stsci.edu/casjobs/CasJobs.asmx"/>
    </wsdl:port>
    <wsdl:port name="CasJobsSoap12" binding="tns:CasJobsSoap12">
    <soap12:address xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" location="http://galex.stsci.edu/casjobs/CasJobs.asmx"/>
    </wsdl:port>
    <wsdl:port name="CasJobsHttpPost" binding="tns:CasJobsHttpPost">
      <http:address location="http://galex.stsci.edu/casjobs/CasJobs.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
