dataset/231 - Data management and query software/3103.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://tempuri.org/EACBSXMLNLPGWS/BSXMLAddressSearch" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tempuri.org/EACBSXMLNLPGWS/BSXMLAddressSearch" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/">
  <wsdl:types>
    <s:schema xmlns:s="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://tempuri.org/EACBSXMLNLPGWS/BSXMLAddressSearch">
      <s:element name="GetAddressAsXML">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="UIN" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAddressAsXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="GetAddressAsXMLResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchAsXML">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="strProperty" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="strStreet" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="strTown" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="strPostcode" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchAsXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="SearchAsXMLResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SearchAsXMLSoapIn">
    <wsdl:part name="parameters" element="tns:SearchAsXML"/>
  </wsdl:message>
  <wsdl:message name="SearchAsXMLHttpGetOut">
    <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="SearchAsXMLSoapOut">
    <wsdl:part name="parameters" element="tns:SearchAsXMLResponse"/>
  </wsdl:message>
  <wsdl:message name="SearchAsXMLHttpGetIn">
    <wsdl:part name="strProperty" type="s:string"/>
    <wsdl:part name="strStreet" type="s:string"/>
    <wsdl:part name="strTown" type="s:string"/>
    <wsdl:part name="strPostcode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SearchAsXMLHttpPostOut">
    <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetAddressAsXMLSoapIn">
    <wsdl:part name="parameters" element="tns:GetAddressAsXML"/>
  </wsdl:message>
  <wsdl:message name="GetAddressAsXMLHttpPostOut">
    <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetAddressAsXMLHttpGetIn">
    <wsdl:part name="UIN" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAddressAsXMLSoapOut">
    <wsdl:part name="parameters" element="tns:GetAddressAsXMLResponse"/>
  </wsdl:message>
  <wsdl:message name="SearchAsXMLHttpPostIn">
    <wsdl:part name="strProperty" type="s:string"/>
    <wsdl:part name="strStreet" type="s:string"/>
    <wsdl:part name="strTown" type="s:string"/>
    <wsdl:part name="strPostcode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAddressAsXMLHttpGetOut">
    <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetAddressAsXMLHttpPostIn">
    <wsdl:part name="UIN" type="s:string"/>
  </wsdl:message>
  <wsdl:portType name="BSXMLAddressSearchHttpPost">
    <wsdl:operation name="GetAddressAsXML">
<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns an XML BS document containing one address from the East Ayrshire NLPG database which matches a given UPRN</documentation>
      <wsdl:input message="tns:GetAddressAsXMLHttpPostIn"/>
      <wsdl:output message="tns:GetAddressAsXMLHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="SearchAsXML">
<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Full search which returns an XML BS document of addresses from the East Ayrshire NLPG database which match the given search criteria.</documentation>
      <wsdl:input message="tns:SearchAsXMLHttpPostIn"/>
      <wsdl:output message="tns:SearchAsXMLHttpPostOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BSXMLAddressSearchSoap">
    <wsdl:operation name="GetAddressAsXML">
<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns an XML BS document containing one address from the East Ayrshire NLPG database which matches a given UPRN</documentation>
      <wsdl:input message="tns:GetAddressAsXMLSoapIn"/>
      <wsdl:output message="tns:GetAddressAsXMLSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="SearchAsXML">
<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Full search which returns an XML BS document of addresses from the East Ayrshire NLPG database which match the given search criteria.</documentation>
      <wsdl:input message="tns:SearchAsXMLSoapIn"/>
      <wsdl:output message="tns:SearchAsXMLSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BSXMLAddressSearchHttpGet">
    <wsdl:operation name="GetAddressAsXML">
<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns an XML BS document containing one address from the East Ayrshire NLPG database which matches a given UPRN</documentation>
      <wsdl:input message="tns:GetAddressAsXMLHttpGetIn"/>
      <wsdl:output message="tns:GetAddressAsXMLHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="SearchAsXML">
<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Full search which returns an XML BS document of addresses from the East Ayrshire NLPG database which match the given search criteria.</documentation>
      <wsdl:input message="tns:SearchAsXMLHttpGetIn"/>
      <wsdl:output message="tns:SearchAsXMLHttpGetOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BSXMLAddressSearchHttpPost" type="tns:BSXMLAddressSearchHttpPost">
    <http:binding verb="POST"/>
    <wsdl:operation name="GetAddressAsXML">
      <http:operation location="/GetAddressAsXML"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchAsXML">
      <http:operation location="/SearchAsXML"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BSXMLAddressSearchSoap" type="tns:BSXMLAddressSearchSoap">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetAddressAsXML">
      <soap:operation soapAction="http://tempuri.org/EACBSXMLNLPGWS/BSXMLAddressSearch/GetAddressAsXML" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchAsXML">
      <soap:operation soapAction="http://tempuri.org/EACBSXMLNLPGWS/BSXMLAddressSearch/SearchAsXML" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BSXMLAddressSearchHttpGet" type="tns:BSXMLAddressSearchHttpGet">
    <http:binding verb="GET"/>
    <wsdl:operation name="GetAddressAsXML">
      <http:operation location="/GetAddressAsXML"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchAsXML">
      <http:operation location="/SearchAsXML"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BSXMLAddressSearch">
<documentation xmlns="http://schemas.xmlsoap.org/wsdl/"/>
    <wsdl:port name="BSXMLAddressSearchHttpPost" binding="tns:BSXMLAddressSearchHttpPost">
      <http:address location="http://ws.east-ayrshire.gov.uk/nlpg/eacbsxmlnlpgws/bsxmladdresssearch.asmx"/>
    </wsdl:port>
    <wsdl:port name="BSXMLAddressSearchHttpGet" binding="tns:BSXMLAddressSearchHttpGet">
      <http:address location="http://ws.east-ayrshire.gov.uk/nlpg/eacbsxmlnlpgws/bsxmladdresssearch.asmx"/>
    </wsdl:port>
    <wsdl:port name="BSXMLAddressSearchSoap" binding="tns:BSXMLAddressSearchSoap">
      <soap:address location="http://ws.east-ayrshire.gov.uk/nlpg/eacbsxmlnlpgws/bsxmladdresssearch.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
