dataset/231 - Data management and query software/52141.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://BGPA.Vault.WebServices/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://BGPA.Vault.WebServices/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <s:schema xmlns:s="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://BGPA.Vault.WebServices/">
      <s:element name="TypeAhead">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="prefixText" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="1" name="count" type="s:int"/>
            <s:element maxOccurs="1" minOccurs="0" name="contextKey" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TypeAheadResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="TypeAheadResult" type="tns:ArrayOfString"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="string" nillable="true" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString"/>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TypeAheadHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString"/>
  </wsdl:message>
  <wsdl:message name="TypeAheadSoapOut">
    <wsdl:part name="parameters" element="tns:TypeAheadResponse"/>
  </wsdl:message>
  <wsdl:message name="TypeAheadSoapIn">
    <wsdl:part name="parameters" element="tns:TypeAhead"/>
  </wsdl:message>
  <wsdl:message name="TypeAheadHttpGetIn">
    <wsdl:part name="prefixText" type="s:string"/>
    <wsdl:part name="count" type="s:string"/>
    <wsdl:part name="contextKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="TypeAheadHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString"/>
  </wsdl:message>
  <wsdl:message name="TypeAheadHttpPostIn">
    <wsdl:part name="prefixText" type="s:string"/>
    <wsdl:part name="count" type="s:string"/>
    <wsdl:part name="contextKey" type="s:string"/>
  </wsdl:message>
  <wsdl:portType name="SearchTypeAheadSoap">
    <wsdl:operation name="TypeAhead">
      <wsdl:input message="tns:TypeAheadSoapIn"/>
      <wsdl:output message="tns:TypeAheadSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SearchTypeAheadHttpPost">
    <wsdl:operation name="TypeAhead">
      <wsdl:input message="tns:TypeAheadHttpPostIn"/>
      <wsdl:output message="tns:TypeAheadHttpPostOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SearchTypeAheadHttpGet">
    <wsdl:operation name="TypeAhead">
      <wsdl:input message="tns:TypeAheadHttpGetIn"/>
      <wsdl:output message="tns:TypeAheadHttpGetOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SearchTypeAheadSoap12" type="tns:SearchTypeAheadSoap">
    <soap12:binding xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="TypeAhead">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://BGPA.Vault.WebServices/TypeAhead" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SearchTypeAheadSoap" type="tns:SearchTypeAheadSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="TypeAhead">
      <soap:operation soapAction="http://BGPA.Vault.WebServices/TypeAhead" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SearchTypeAheadHttpPost" type="tns:SearchTypeAheadHttpPost">
    <http:binding verb="POST"/>
    <wsdl:operation name="TypeAhead">
      <http:operation location="/TypeAhead"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SearchTypeAheadHttpGet" type="tns:SearchTypeAheadHttpGet">
    <http:binding verb="GET"/>
    <wsdl:operation name="TypeAhead">
      <http:operation location="/TypeAhead"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SearchTypeAhead">
    <wsdl:port name="SearchTypeAheadSoap" binding="tns:SearchTypeAheadSoap">
      <soap:address location="http://concerts.wolfgangsvault.com/services/SearchTypeAhead.asmx"/>
    </wsdl:port>
    <wsdl:port name="SearchTypeAheadSoap12" binding="tns:SearchTypeAheadSoap12">
    <soap12:address xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" location="http://concerts.wolfgangsvault.com/services/SearchTypeAhead.asmx"/>
    </wsdl:port>
    <wsdl:port name="SearchTypeAheadHttpGet" binding="tns:SearchTypeAheadHttpGet">
      <http:address location="http://concerts.wolfgangsvault.com/services/SearchTypeAhead.asmx"/>
    </wsdl:port>
    <wsdl:port name="SearchTypeAheadHttpPost" binding="tns:SearchTypeAheadHttpPost">
      <http:address location="http://concerts.wolfgangsvault.com/services/SearchTypeAhead.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
