dataset/128 - Content authoring and editing software/27797.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://videoupdate.com.ClassLibrary" xmlns:tns1="http://rpc.xml.coldfusion" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:impl="http://videoupdate.com.ClassLibrary" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://videoupdate.com.ClassLibrary">
  <wsdl:types>
    <schema targetNamespace="http://videoupdate.com.ClassLibrary" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://rpc.xml.coldfusion"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOfArrayOf_xsd_anyType">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:anyType[][]" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
    <schema targetNamespace="http://rpc.xml.coldfusion" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://videoupdate.com.ClassLibrary"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="QueryBean">
    <sequence>
     <element name="columnList" nillable="true" type="impl:ArrayOf_xsd_string"/>
     <element name="data" nillable="true" type="impl:ArrayOfArrayOf_xsd_anyType"/>
    </sequence>
   </complexType>
   <complexType name="CFCInvocationException">
    <sequence/>
   </complexType>
  </schema>
    <schema targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://rpc.xml.coldfusion"/>
   <import namespace="http://videoupdate.com.ClassLibrary"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="mapItem">
    <sequence>
     <element name="key" nillable="true" type="xsd:anyType"/>
     <element name="value" nillable="true" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <complexType name="Map">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="apachesoap:mapItem"/>
    </sequence>
   </complexType>
  </schema>
  </wsdl:types>
  <wsdl:message name="loadNowPlayingResponse">
    <wsdl:part name="loadNowPlayingReturn" type="tns1:QueryBean"/>
  </wsdl:message>
  <wsdl:message name="loadNowPlayingRequest">
    <wsdl:part name="VideoFile" type="xsd:string"/>
    <wsdl:part name="Id" type="xsd:anyType"/>
  </wsdl:message>
  <wsdl:message name="getNewsStoryResponse">
    <wsdl:part name="getNewsStoryReturn" type="tns1:QueryBean"/>
  </wsdl:message>
  <wsdl:message name="initRequest">
  </wsdl:message>
  <wsdl:message name="getNewsStoryRequest">
    <wsdl:part name="q" type="xsd:anyType"/>
  </wsdl:message>
  <wsdl:message name="CFCInvocationException">
    <wsdl:part name="fault" type="tns1:CFCInvocationException"/>
  </wsdl:message>
  <wsdl:message name="initResponse">
  </wsdl:message>
  <wsdl:portType name="video_ajax">
    <wsdl:operation name="getNewsStory" parameterOrder="q">
      <wsdl:input name="getNewsStoryRequest" message="impl:getNewsStoryRequest"/>
      <wsdl:output name="getNewsStoryResponse" message="impl:getNewsStoryResponse"/>
      <wsdl:fault name="CFCInvocationException" message="impl:CFCInvocationException"/>
    </wsdl:operation>
    <wsdl:operation name="loadNowPlaying" parameterOrder="VideoFile Id">
      <wsdl:input name="loadNowPlayingRequest" message="impl:loadNowPlayingRequest"/>
      <wsdl:output name="loadNowPlayingResponse" message="impl:loadNowPlayingResponse"/>
      <wsdl:fault name="CFCInvocationException" message="impl:CFCInvocationException"/>
    </wsdl:operation>
    <wsdl:operation name="init">
      <wsdl:input name="initRequest" message="impl:initRequest"/>
      <wsdl:output name="initResponse" message="impl:initResponse"/>
      <wsdl:fault name="CFCInvocationException" message="impl:CFCInvocationException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="video_ajax.cfcSoapBinding" type="impl:video_ajax">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getNewsStory">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getNewsStoryRequest">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://videoupdate.com.ClassLibrary"/>
      </wsdl:input>
      <wsdl:output name="getNewsStoryResponse">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://videoupdate.com.ClassLibrary"/>
      </wsdl:output>
      <wsdl:fault name="CFCInvocationException">
        <wsdlsoap:fault name="CFCInvocationException" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://videoupdate.com.ClassLibrary"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="loadNowPlaying">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="loadNowPlayingRequest">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://videoupdate.com.ClassLibrary"/>
      </wsdl:input>
      <wsdl:output name="loadNowPlayingResponse">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://videoupdate.com.ClassLibrary"/>
      </wsdl:output>
      <wsdl:fault name="CFCInvocationException">
        <wsdlsoap:fault name="CFCInvocationException" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://videoupdate.com.ClassLibrary"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="init">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="initRequest">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://videoupdate.com.ClassLibrary"/>
      </wsdl:input>
      <wsdl:output name="initResponse">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://videoupdate.com.ClassLibrary"/>
      </wsdl:output>
      <wsdl:fault name="CFCInvocationException">
        <wsdlsoap:fault name="CFCInvocationException" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://videoupdate.com.ClassLibrary"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="video_ajaxService">
    <wsdl:port name="video_ajax.cfc" binding="impl:video_ajax.cfcSoapBinding">
      <wsdlsoap:address location="http://www.keloland.com/ClassLibrary/com/videoupdate/video_ajax.cfc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
