dataset/128 - Content authoring and editing software/33238.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <s:schema xmlns:s="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetSlides">
        <s:complexType/>
      </s:element>
      <s:element name="GetSlidesResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="GetSlidesResult" type="tns:ArrayOfSlide"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSlide">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="Slide" nillable="true" type="tns:Slide"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="Slide">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="ImagePath" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Name" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Description" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfSlide" nillable="true" type="tns:ArrayOfSlide"/>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSlidesHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfSlide"/>
  </wsdl:message>
  <wsdl:message name="GetSlidesHttpPostIn">
  </wsdl:message>
  <wsdl:message name="GetSlidesSoapOut">
    <wsdl:part name="parameters" element="tns:GetSlidesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetSlidesHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfSlide"/>
  </wsdl:message>
  <wsdl:message name="GetSlidesHttpGetIn">
  </wsdl:message>
  <wsdl:message name="GetSlidesSoapIn">
    <wsdl:part name="parameters" element="tns:GetSlides"/>
  </wsdl:message>
  <wsdl:portType name="WebServiceHttpGet">
    <wsdl:operation name="GetSlides">
      <wsdl:input message="tns:GetSlidesHttpGetIn"/>
      <wsdl:output message="tns:GetSlidesHttpGetOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceHttpPost">
    <wsdl:operation name="GetSlides">
      <wsdl:input message="tns:GetSlidesHttpPostIn"/>
      <wsdl:output message="tns:GetSlidesHttpPostOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="GetSlides">
      <wsdl:input message="tns:GetSlidesSoapIn"/>
      <wsdl:output message="tns:GetSlidesSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetSlides">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://tempuri.org/GetSlides" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceHttpGet" type="tns:WebServiceHttpGet">
    <http:binding verb="GET"/>
    <wsdl:operation name="GetSlides">
      <http:operation location="/GetSlides"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceHttpPost" type="tns:WebServiceHttpPost">
    <http:binding verb="POST"/>
    <wsdl:operation name="GetSlides">
      <http:operation location="/GetSlides"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetSlides">
      <soap:operation soapAction="http://tempuri.org/GetSlides" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceHttpPost" binding="tns:WebServiceHttpPost">
      <http:address location="http://goldvictory.gr/el-gr/WebService.asmx"/>
    </wsdl:port>
    <wsdl:port name="WebServiceHttpGet" binding="tns:WebServiceHttpGet">
      <http:address location="http://goldvictory.gr/el-gr/WebService.asmx"/>
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
    <soap12:address xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" location="http://goldvictory.gr/el-gr/WebService.asmx"/>
    </wsdl:port>
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://goldvictory.gr/el-gr/WebService.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
