dataset/128 - Content authoring and editing software/42467.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.rendall.me.uk/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.rendall.me.uk/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <s:schema xmlns:s="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.rendall.me.uk/">
      <s:element name="GetSlides">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="contextKey" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSlidesResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="GetSlidesResult" type="tns:ArrayOfSlide"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSlide">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="Slide" nillable="true" type="tns:Slide"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="Slide">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="ImagePath" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Name" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Description" type="s:string"/>
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSlidesSoapOut">
    <wsdl:part name="parameters" element="tns:GetSlidesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetSlidesSoapIn">
    <wsdl:part name="parameters" element="tns:GetSlides"/>
  </wsdl:message>
  <wsdl:portType name="SlideServiceSoap">
    <wsdl:operation name="GetSlides">
      <wsdl:input message="tns:GetSlidesSoapIn"/>
      <wsdl:output message="tns:GetSlidesSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SlideServiceSoap12" type="tns:SlideServiceSoap">
    <soap12:binding xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetSlides">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://www.rendall.me.uk/GetSlides" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SlideServiceSoap" type="tns:SlideServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetSlides">
      <soap:operation soapAction="http://www.rendall.me.uk/GetSlides" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SlideService">
    <wsdl:port name="SlideServiceSoap12" binding="tns:SlideServiceSoap12">
    <soap12:address xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" location="http://www.rendall.me.uk/SlideService.asmx"/>
    </wsdl:port>
    <wsdl:port name="SlideServiceSoap" binding="tns:SlideServiceSoap">
      <soap:address location="http://www.rendall.me.uk/SlideService.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
