dataset/121 - Information exchange software/12601.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.FreebieSMS.co.uk" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.FreebieSMS.co.uk" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <s:schema xmlns:s="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.FreebieSMS.co.uk">
      <s:element name="SendSMS">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="username" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="password" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="To" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="From" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Message" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="SendSMSResult" type="s:boolean"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRemainingCredit">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="username" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="password" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRemainingCreditResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="GetRemainingCreditResult" type="s:double"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MakePhoneCall">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="username" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="password" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="To" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Message" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MakePhoneCallResponse">
        <s:complexType/>
      </s:element>
      <s:element name="boolean" type="s:boolean"/>
      <s:element name="double" type="s:double"/>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MakePhoneCallHttpGetIn">
    <wsdl:part name="username" type="s:string"/>
    <wsdl:part name="password" type="s:string"/>
    <wsdl:part name="To" type="s:string"/>
    <wsdl:part name="Message" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetRemainingCreditHttpPostIn">
    <wsdl:part name="username" type="s:string"/>
    <wsdl:part name="password" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SendSMSSoapOut">
    <wsdl:part name="parameters" element="tns:SendSMSResponse"/>
  </wsdl:message>
  <wsdl:message name="MakePhoneCallHttpPostOut">
  </wsdl:message>
  <wsdl:message name="SendSMSHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean"/>
  </wsdl:message>
  <wsdl:message name="GetRemainingCreditSoapIn">
    <wsdl:part name="parameters" element="tns:GetRemainingCredit"/>
  </wsdl:message>
  <wsdl:message name="GetRemainingCreditHttpGetOut">
    <wsdl:part name="Body" element="tns:double"/>
  </wsdl:message>
  <wsdl:message name="SendSMSSoapIn">
    <wsdl:part name="parameters" element="tns:SendSMS"/>
  </wsdl:message>
  <wsdl:message name="MakePhoneCallSoapIn">
    <wsdl:part name="parameters" element="tns:MakePhoneCall"/>
  </wsdl:message>
  <wsdl:message name="MakePhoneCallHttpPostIn">
    <wsdl:part name="username" type="s:string"/>
    <wsdl:part name="password" type="s:string"/>
    <wsdl:part name="To" type="s:string"/>
    <wsdl:part name="Message" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetRemainingCreditSoapOut">
    <wsdl:part name="parameters" element="tns:GetRemainingCreditResponse"/>
  </wsdl:message>
  <wsdl:message name="SendSMSHttpPostIn">
    <wsdl:part name="username" type="s:string"/>
    <wsdl:part name="password" type="s:string"/>
    <wsdl:part name="To" type="s:string"/>
    <wsdl:part name="From" type="s:string"/>
    <wsdl:part name="Message" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="MakePhoneCallHttpGetOut">
  </wsdl:message>
  <wsdl:message name="GetRemainingCreditHttpPostOut">
    <wsdl:part name="Body" element="tns:double"/>
  </wsdl:message>
  <wsdl:message name="MakePhoneCallSoapOut">
    <wsdl:part name="parameters" element="tns:MakePhoneCallResponse"/>
  </wsdl:message>
  <wsdl:message name="SendSMSHttpGetIn">
    <wsdl:part name="username" type="s:string"/>
    <wsdl:part name="password" type="s:string"/>
    <wsdl:part name="To" type="s:string"/>
    <wsdl:part name="From" type="s:string"/>
    <wsdl:part name="Message" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SendSMSHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean"/>
  </wsdl:message>
  <wsdl:message name="GetRemainingCreditHttpGetIn">
    <wsdl:part name="username" type="s:string"/>
    <wsdl:part name="password" type="s:string"/>
  </wsdl:message>
  <wsdl:portType name="BulkSMSHttpGet">
    <wsdl:operation name="SendSMS">
      <wsdl:input message="tns:SendSMSHttpGetIn"/>
      <wsdl:output message="tns:SendSMSHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetRemainingCredit">
      <wsdl:input message="tns:GetRemainingCreditHttpGetIn"/>
      <wsdl:output message="tns:GetRemainingCreditHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="MakePhoneCall">
      <wsdl:input message="tns:MakePhoneCallHttpGetIn"/>
      <wsdl:output message="tns:MakePhoneCallHttpGetOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BulkSMSSoap">
    <wsdl:operation name="SendSMS">
      <wsdl:input message="tns:SendSMSSoapIn"/>
      <wsdl:output message="tns:SendSMSSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetRemainingCredit">
      <wsdl:input message="tns:GetRemainingCreditSoapIn"/>
      <wsdl:output message="tns:GetRemainingCreditSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="MakePhoneCall">
      <wsdl:input message="tns:MakePhoneCallSoapIn"/>
      <wsdl:output message="tns:MakePhoneCallSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BulkSMSHttpPost">
    <wsdl:operation name="SendSMS">
      <wsdl:input message="tns:SendSMSHttpPostIn"/>
      <wsdl:output message="tns:SendSMSHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetRemainingCredit">
      <wsdl:input message="tns:GetRemainingCreditHttpPostIn"/>
      <wsdl:output message="tns:GetRemainingCreditHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="MakePhoneCall">
      <wsdl:input message="tns:MakePhoneCallHttpPostIn"/>
      <wsdl:output message="tns:MakePhoneCallHttpPostOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BulkSMSHttpGet" type="tns:BulkSMSHttpGet">
    <http:binding verb="GET"/>
    <wsdl:operation name="SendSMS">
      <http:operation location="/SendSMS"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRemainingCredit">
      <http:operation location="/GetRemainingCredit"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakePhoneCall">
      <http:operation location="/MakePhoneCall"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BulkSMSSoap" type="tns:BulkSMSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SendSMS">
      <soap:operation soapAction="http://www.FreebieSMS.co.uk/SendSMS" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRemainingCredit">
      <soap:operation soapAction="http://www.FreebieSMS.co.uk/GetRemainingCredit" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakePhoneCall">
      <soap:operation soapAction="http://www.FreebieSMS.co.uk/MakePhoneCall" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BulkSMSSoap12" type="tns:BulkSMSSoap">
    <soap12:binding xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SendSMS">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://www.FreebieSMS.co.uk/SendSMS" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRemainingCredit">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://www.FreebieSMS.co.uk/GetRemainingCredit" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakePhoneCall">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://www.FreebieSMS.co.uk/MakePhoneCall" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BulkSMSHttpPost" type="tns:BulkSMSHttpPost">
    <http:binding verb="POST"/>
    <wsdl:operation name="SendSMS">
      <http:operation location="/SendSMS"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRemainingCredit">
      <http:operation location="/GetRemainingCredit"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakePhoneCall">
      <http:operation location="/MakePhoneCall"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BulkSMS">
    <wsdl:port name="BulkSMSHttpPost" binding="tns:BulkSMSHttpPost">
      <http:address location="http://www.sms-txt.co.uk/bulksms.asmx"/>
    </wsdl:port>
    <wsdl:port name="BulkSMSSoap" binding="tns:BulkSMSSoap">
      <soap:address location="http://www.sms-txt.co.uk/bulksms.asmx"/>
    </wsdl:port>
    <wsdl:port name="BulkSMSSoap12" binding="tns:BulkSMSSoap12">
    <soap12:address xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" location="http://www.sms-txt.co.uk/bulksms.asmx"/>
    </wsdl:port>
    <wsdl:port name="BulkSMSHttpGet" binding="tns:BulkSMSHttpGet">
      <http:address location="http://www.sms-txt.co.uk/bulksms.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
