dataset/121 - Information exchange software/26738.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.lampsplus.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.lampsplus.com" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <s:schema xmlns:s="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.lampsplus.com">
      <s:element name="SendEmail">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="strValString" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="SendEmailResult" type="s:boolean"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLocationId">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="url" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLocationIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="getLocationIdResult" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="boolean" type="s:boolean"/>
      <s:element name="int" type="s:int"/>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendEmailHttpPostIn">
    <wsdl:part name="strValString" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getLocationIdHttpPostIn">
    <wsdl:part name="url" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SendEmailHttpGetIn">
    <wsdl:part name="strValString" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SendEmailHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean"/>
  </wsdl:message>
  <wsdl:message name="getLocationIdHttpPostOut">
    <wsdl:part name="Body" element="tns:int"/>
  </wsdl:message>
  <wsdl:message name="getLocationIdHttpGetOut">
    <wsdl:part name="Body" element="tns:int"/>
  </wsdl:message>
  <wsdl:message name="SendEmailHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean"/>
  </wsdl:message>
  <wsdl:message name="getLocationIdSoapOut">
    <wsdl:part name="parameters" element="tns:getLocationIdResponse"/>
  </wsdl:message>
  <wsdl:message name="getLocationIdSoapIn">
    <wsdl:part name="parameters" element="tns:getLocationId"/>
  </wsdl:message>
  <wsdl:message name="SendEmailSoapOut">
    <wsdl:part name="parameters" element="tns:SendEmailResponse"/>
  </wsdl:message>
  <wsdl:message name="SendEmailSoapIn">
    <wsdl:part name="parameters" element="tns:SendEmail"/>
  </wsdl:message>
  <wsdl:message name="getLocationIdHttpGetIn">
    <wsdl:part name="url" type="s:string"/>
  </wsdl:message>
  <wsdl:portType name="EmailToFriendSoap">
    <wsdl:operation name="SendEmail">
      <wsdl:input message="tns:SendEmailSoapIn"/>
      <wsdl:output message="tns:SendEmailSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="getLocationId">
      <wsdl:input message="tns:getLocationIdSoapIn"/>
      <wsdl:output message="tns:getLocationIdSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="EmailToFriendHttpPost">
    <wsdl:operation name="SendEmail">
      <wsdl:input message="tns:SendEmailHttpPostIn"/>
      <wsdl:output message="tns:SendEmailHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="getLocationId">
      <wsdl:input message="tns:getLocationIdHttpPostIn"/>
      <wsdl:output message="tns:getLocationIdHttpPostOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="EmailToFriendHttpGet">
    <wsdl:operation name="SendEmail">
      <wsdl:input message="tns:SendEmailHttpGetIn"/>
      <wsdl:output message="tns:SendEmailHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="getLocationId">
      <wsdl:input message="tns:getLocationIdHttpGetIn"/>
      <wsdl:output message="tns:getLocationIdHttpGetOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmailToFriendSoap" type="tns:EmailToFriendSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SendEmail">
      <soap:operation soapAction="http://www.lampsplus.com/SendEmail" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLocationId">
      <soap:operation soapAction="http://www.lampsplus.com/getLocationId" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmailToFriendHttpPost" type="tns:EmailToFriendHttpPost">
    <http:binding verb="POST"/>
    <wsdl:operation name="SendEmail">
      <http:operation location="/SendEmail"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLocationId">
      <http:operation location="/getLocationId"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmailToFriendHttpGet" type="tns:EmailToFriendHttpGet">
    <http:binding verb="GET"/>
    <wsdl:operation name="SendEmail">
      <http:operation location="/SendEmail"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLocationId">
      <http:operation location="/getLocationId"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmailToFriendSoap12" type="tns:EmailToFriendSoap">
    <soap12:binding xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SendEmail">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://www.lampsplus.com/SendEmail" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLocationId">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://www.lampsplus.com/getLocationId" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmailToFriend">
    <wsdl:port name="EmailToFriendSoap" binding="tns:EmailToFriendSoap">
      <soap:address location="http://www.lampsplus.com/WebServices/EmailToFriend.asmx"/>
    </wsdl:port>
    <wsdl:port name="EmailToFriendHttpPost" binding="tns:EmailToFriendHttpPost">
      <http:address location="http://www.lampsplus.com/WebServices/EmailToFriend.asmx"/>
    </wsdl:port>
    <wsdl:port name="EmailToFriendHttpGet" binding="tns:EmailToFriendHttpGet">
      <http:address location="http://www.lampsplus.com/WebServices/EmailToFriend.asmx"/>
    </wsdl:port>
    <wsdl:port name="EmailToFriendSoap12" binding="tns:EmailToFriendSoap12">
    <soap12:address xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" location="http://www.lampsplus.com/WebServices/EmailToFriend.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
