dataset/121 - Information exchange software/43750.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.playphone.com/schemas/agora/Messaging" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://services.playphone.com/schemas/agora/Messaging" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <s:schema xmlns:s="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://services.playphone.com/schemas/agora/Messaging">
      <s:element name="SMS">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="serviceUser" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="servicePassword" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="cellphoneNumber" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="text" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="shortCode" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="serviceId" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SMSResponse">
        <s:complexType/>
      </s:element>
      <s:element name="WapPush">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="serviceUser" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="servicePassword" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="cellphoneNumber" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="carrierId" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="text" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="shortCode" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="serviceId" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WapPushResponse">
        <s:complexType/>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WapPushSoapOut">
    <wsdl:part name="parameters" element="tns:WapPushResponse"/>
  </wsdl:message>
  <wsdl:message name="WapPushSoapIn">
    <wsdl:part name="parameters" element="tns:WapPush"/>
  </wsdl:message>
  <wsdl:message name="SMSSoapOut">
    <wsdl:part name="parameters" element="tns:SMSResponse"/>
  </wsdl:message>
  <wsdl:message name="SMSSoapIn">
    <wsdl:part name="parameters" element="tns:SMS"/>
  </wsdl:message>
  <wsdl:portType name="MessagingSoap">
    <wsdl:operation name="SMS">
      <wsdl:input message="tns:SMSSoapIn"/>
      <wsdl:output message="tns:SMSSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="WapPush">
      <wsdl:input message="tns:WapPushSoapIn"/>
      <wsdl:output message="tns:WapPushSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MessagingSoap" type="tns:MessagingSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SMS">
      <soap:operation soapAction="http://services.playphone.com/schemas/agora/Messaging/SMS" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WapPush">
      <soap:operation soapAction="http://services.playphone.com/schemas/agora/Messaging/WapPush" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MessagingSoap12" type="tns:MessagingSoap">
    <soap12:binding xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SMS">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://services.playphone.com/schemas/agora/Messaging/SMS" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WapPush">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://services.playphone.com/schemas/agora/Messaging/WapPush" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Messaging">
    <wsdl:port name="MessagingSoap" binding="tns:MessagingSoap">
      <soap:address location="http://acc.ppbrtest.playphone.com.br/messaging.asmx"/>
    </wsdl:port>
    <wsdl:port name="MessagingSoap12" binding="tns:MessagingSoap12">
    <soap12:address xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" location="http://acc.ppbrtest.playphone.com.br/messaging.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
