dataset/121 - Information exchange software/52082.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <s:schema xmlns:s="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendPageToFriend">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="SenderName" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="SenderEmail" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Message" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="FriendEmail" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="PageUrl" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendPageToFriendResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="SendPageToFriendResult" type="s:boolean"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendPageToFriendSoapIn">
    <wsdl:part name="parameters" element="tns:SendPageToFriend"/>
  </wsdl:message>
  <wsdl:message name="SendPageToFriendSoapOut">
    <wsdl:part name="parameters" element="tns:SendPageToFriendResponse"/>
  </wsdl:message>
  <wsdl:portType name="TipAFriendSoap">
    <wsdl:operation name="SendPageToFriend">
      <wsdl:input message="tns:SendPageToFriendSoapIn"/>
      <wsdl:output message="tns:SendPageToFriendSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TipAFriendSoap12" type="tns:TipAFriendSoap">
    <soap12:binding xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SendPageToFriend">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://tempuri.org/SendPageToFriend" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TipAFriendSoap" type="tns:TipAFriendSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SendPageToFriend">
      <soap:operation soapAction="http://tempuri.org/SendPageToFriend" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TipAFriend">
    <wsdl:port name="TipAFriendSoap" binding="tns:TipAFriendSoap">
      <soap:address location="http://www.white.dk/Services/tipafriend.asmx"/>
    </wsdl:port>
    <wsdl:port name="TipAFriendSoap12" binding="tns:TipAFriendSoap12">
    <soap12:address xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" location="http://www.white.dk/Services/tipafriend.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
