dataset/121 - Information exchange software/55524.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://smsws.moonsite.co.il/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://smsws.moonsite.co.il/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/">
  <wsdl:types>
    <s:schema xmlns:s="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://smsws.moonsite.co.il/">
      <s:element name="SendMessage">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="username" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="password" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="fromMobile" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="toMobile" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="message" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="SendMessageResult" type="s:boolean"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendBulkMessage">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="username" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="password" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="fromMobile" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="toMobile" type="tns:ArrayOfString"/>
            <s:element maxOccurs="1" minOccurs="0" name="message" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="string" nillable="true" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="SendBulkMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="SendBulkMessageResult" type="s:boolean"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendBulkMessageSoapIn">
    <wsdl:part name="parameters" element="tns:SendBulkMessage"/>
  </wsdl:message>
  <wsdl:message name="SendMessageSoapOut">
    <wsdl:part name="parameters" element="tns:SendMessageResponse"/>
  </wsdl:message>
  <wsdl:message name="SendBulkMessageSoapOut">
    <wsdl:part name="parameters" element="tns:SendBulkMessageResponse"/>
  </wsdl:message>
  <wsdl:message name="SendMessageSoapIn">
    <wsdl:part name="parameters" element="tns:SendMessage"/>
  </wsdl:message>
  <wsdl:portType name="SendServiceSoap">
    <wsdl:operation name="SendMessage">
      <wsdl:input message="tns:SendMessageSoapIn"/>
      <wsdl:output message="tns:SendMessageSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="SendBulkMessage">
      <wsdl:input message="tns:SendBulkMessageSoapIn"/>
      <wsdl:output message="tns:SendBulkMessageSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SendServiceSoap" type="tns:SendServiceSoap">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SendMessage">
      <soap:operation soapAction="http://smsws.moonsite.co.il/SendMessage" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendBulkMessage">
      <soap:operation soapAction="http://smsws.moonsite.co.il/SendBulkMessage" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SendService">
    <wsdl:port name="SendServiceSoap" binding="tns:SendServiceSoap">
      <soap:address location="http://ws.simplesms.co.il/webservices/sendservice.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
