dataset/121 - Information exchange software/8103.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://2sms.com/WebServices/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://2sms.com/WebServices/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">2sms Messaging Web Service</wsdl:documentation>
  <wsdl:types>
    <s:schema xmlns:s="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://2sms.com/WebServices/">
      <s:element name="AddressBookList">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="Username" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Password" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddressBookListResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="AddressBookListResult" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddressBookAddEntry">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="Username" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Password" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="FirstName" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="LastName" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="MobilePhone" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="EmailAddress" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="GroupName" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddressBookAddEntryResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="AddressBookAddEntryResult" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddressBookRemoveEntry">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="Username" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Password" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="PersonNumbers" type="tns:ArrayOfString"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="string" nillable="true" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="AddressBookRemoveEntryResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="AddressBookRemoveEntryResult" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddressBookGroupList">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="Username" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Password" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddressBookGroupListResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="AddressBookGroupListResult" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddressBookGroupCreate">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="Username" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Password" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="GroupName" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="PersonNumbers" type="tns:ArrayOfString"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddressBookGroupCreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="AddressBookGroupCreateResult" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddressBookGroupRemove">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="Username" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Password" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="GroupID" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddressBookGroupRemoveResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="AddressBookGroupRemoveResult" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddressBookGroupAddEntry">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="Username" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Password" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="GroupID" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="PersonNumbers" type="tns:ArrayOfString"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddressBookGroupAddEntryResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="AddressBookGroupAddEntryResult" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddressBookGroupRemoveEntry">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="Username" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Password" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="GroupID" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="PersonNumbers" type="tns:ArrayOfString"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddressBookGroupRemoveEntryResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="AddressBookGroupRemoveEntryResult" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReportStandard">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="Username" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Password" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="ReportName" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReportStandardResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="ReportStandardResult" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReportStandardReference">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="Username" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Password" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Reference" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReportStandardReferenceResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="ReportStandardReferenceResult" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReportStandardBetweenDates">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="Username" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Password" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="1" name="StartDate" type="s:dateTime"/>
            <s:element maxOccurs="1" minOccurs="1" name="EndDate" type="s:dateTime"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReportStandardBetweenDatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="ReportStandardBetweenDatesResult" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Report2way">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="Username" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Password" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="1" name="StartDate" type="s:dateTime"/>
            <s:element maxOccurs="1" minOccurs="1" name="EndDate" type="s:dateTime"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Report2wayResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="Report2wayResult" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMessage">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="Username" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Password" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Destination" type="tns:ArrayOfString"/>
            <s:element maxOccurs="1" minOccurs="0" name="Message" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="1" name="DateToSend" type="s:dateTime"/>
            <s:element maxOccurs="1" minOccurs="0" name="Reference" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="SoftwareVersion" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="SendMessageResult" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendGroupMessage">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="Username" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Password" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="GroupID" type="tns:ArrayOfString"/>
            <s:element maxOccurs="1" minOccurs="0" name="Message" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="1" name="DateToSend" type="s:dateTime"/>
            <s:element maxOccurs="1" minOccurs="0" name="Reference" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="SoftwareVersion" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendGroupMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="SendGroupMessageResult" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccountBalance">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="Username" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Password" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccountBalanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="AccountBalanceResult" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccountVerify">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="Username" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Password" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccountVerifyResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="AccountVerifyResult" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccountOpen">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="FirstName" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="LastName" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="MobilePhone" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="EmailAddress" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Company" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Phone" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Password" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccountOpenResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="AccountOpenResult" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccountModify">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="Username" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Password" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="FirstName" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="LastName" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="MobilePhone" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="EmailAddress" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Company" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Phone" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="NewPassword" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccountModifyResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="AccountModifyResult" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccountValidate">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="Username" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Password" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="VerificationKey" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccountValidateResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="AccountValidateResult" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FixedMessageAdd">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="Username" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Password" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Message" type="tns:ArrayOfString"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FixedMessageAddResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="FixedMessageAddResult" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FixedMessageList">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="Username" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Password" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FixedMessageListResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="FixedMessageListResult" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FixedMessageRemove">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="Username" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Password" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="ID" type="tns:ArrayOfString"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FixedMessageRemoveResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="FixedMessageRemoveResult" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubAccountList">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="Username" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Password" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubAccountListResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="SubAccountListResult" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubAccountGiveCredits">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="Username" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Password" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="SubAccount" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="1" name="CurrentBalance" type="s:float"/>
            <s:element maxOccurs="1" minOccurs="1" name="OffPeakBalance" type="s:float"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubAccountGiveCreditsResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="SubAccountGiveCreditsResult" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FixedMessageRemoveSoapOut">
    <wsdl:part name="parameters" element="tns:FixedMessageRemoveResponse"/>
  </wsdl:message>
  <wsdl:message name="FixedMessageListSoapIn">
    <wsdl:part name="parameters" element="tns:FixedMessageList"/>
  </wsdl:message>
  <wsdl:message name="AddressBookGroupRemoveSoapIn">
    <wsdl:part name="parameters" element="tns:AddressBookGroupRemove"/>
  </wsdl:message>
  <wsdl:message name="AddressBookRemoveEntrySoapIn">
    <wsdl:part name="parameters" element="tns:AddressBookRemoveEntry"/>
  </wsdl:message>
  <wsdl:message name="SendMessageSoapOut">
    <wsdl:part name="parameters" element="tns:SendMessageResponse"/>
  </wsdl:message>
  <wsdl:message name="AddressBookGroupRemoveSoapOut">
    <wsdl:part name="parameters" element="tns:AddressBookGroupRemoveResponse"/>
  </wsdl:message>
  <wsdl:message name="SendGroupMessageSoapOut">
    <wsdl:part name="parameters" element="tns:SendGroupMessageResponse"/>
  </wsdl:message>
  <wsdl:message name="Report2waySoapOut">
    <wsdl:part name="parameters" element="tns:Report2wayResponse"/>
  </wsdl:message>
  <wsdl:message name="AddressBookListSoapOut">
    <wsdl:part name="parameters" element="tns:AddressBookListResponse"/>
  </wsdl:message>
  <wsdl:message name="AddressBookGroupRemoveEntrySoapIn">
    <wsdl:part name="parameters" element="tns:AddressBookGroupRemoveEntry"/>
  </wsdl:message>
  <wsdl:message name="ReportStandardReferenceSoapOut">
    <wsdl:part name="parameters" element="tns:ReportStandardReferenceResponse"/>
  </wsdl:message>
  <wsdl:message name="AddressBookGroupCreateSoapIn">
    <wsdl:part name="parameters" element="tns:AddressBookGroupCreate"/>
  </wsdl:message>
  <wsdl:message name="AddressBookRemoveEntrySoapOut">
    <wsdl:part name="parameters" element="tns:AddressBookRemoveEntryResponse"/>
  </wsdl:message>
  <wsdl:message name="AccountOpenSoapOut">
    <wsdl:part name="parameters" element="tns:AccountOpenResponse"/>
  </wsdl:message>
  <wsdl:message name="AddressBookGroupAddEntrySoapOut">
    <wsdl:part name="parameters" element="tns:AddressBookGroupAddEntryResponse"/>
  </wsdl:message>
  <wsdl:message name="AddressBookGroupListSoapOut">
    <wsdl:part name="parameters" element="tns:AddressBookGroupListResponse"/>
  </wsdl:message>
  <wsdl:message name="AddressBookGroupListSoapIn">
    <wsdl:part name="parameters" element="tns:AddressBookGroupList"/>
  </wsdl:message>
  <wsdl:message name="SendGroupMessageSoapIn">
    <wsdl:part name="parameters" element="tns:SendGroupMessage"/>
  </wsdl:message>
  <wsdl:message name="AddressBookListSoapIn">
    <wsdl:part name="parameters" element="tns:AddressBookList"/>
  </wsdl:message>
  <wsdl:message name="AccountValidateSoapIn">
    <wsdl:part name="parameters" element="tns:AccountValidate"/>
  </wsdl:message>
  <wsdl:message name="Report2waySoapIn">
    <wsdl:part name="parameters" element="tns:Report2way"/>
  </wsdl:message>
  <wsdl:message name="FixedMessageListSoapOut">
    <wsdl:part name="parameters" element="tns:FixedMessageListResponse"/>
  </wsdl:message>
  <wsdl:message name="AccountBalanceSoapIn">
    <wsdl:part name="parameters" element="tns:AccountBalance"/>
  </wsdl:message>
  <wsdl:message name="SendMessageSoapIn">
    <wsdl:part name="parameters" element="tns:SendMessage"/>
  </wsdl:message>
  <wsdl:message name="AddressBookGroupRemoveEntrySoapOut">
    <wsdl:part name="parameters" element="tns:AddressBookGroupRemoveEntryResponse"/>
  </wsdl:message>
  <wsdl:message name="ReportStandardSoapOut">
    <wsdl:part name="parameters" element="tns:ReportStandardResponse"/>
  </wsdl:message>
  <wsdl:message name="AccountModifySoapOut">
    <wsdl:part name="parameters" element="tns:AccountModifyResponse"/>
  </wsdl:message>
  <wsdl:message name="ReportStandardBetweenDatesSoapIn">
    <wsdl:part name="parameters" element="tns:ReportStandardBetweenDates"/>
  </wsdl:message>
  <wsdl:message name="FixedMessageAddSoapOut">
    <wsdl:part name="parameters" element="tns:FixedMessageAddResponse"/>
  </wsdl:message>
  <wsdl:message name="AccountBalanceSoapOut">
    <wsdl:part name="parameters" element="tns:AccountBalanceResponse"/>
  </wsdl:message>
  <wsdl:message name="ReportStandardBetweenDatesSoapOut">
    <wsdl:part name="parameters" element="tns:ReportStandardBetweenDatesResponse"/>
  </wsdl:message>
  <wsdl:message name="AccountVerifySoapIn">
    <wsdl:part name="parameters" element="tns:AccountVerify"/>
  </wsdl:message>
  <wsdl:message name="ReportStandardReferenceSoapIn">
    <wsdl:part name="parameters" element="tns:ReportStandardReference"/>
  </wsdl:message>
  <wsdl:message name="SubAccountListSoapOut">
    <wsdl:part name="parameters" element="tns:SubAccountListResponse"/>
  </wsdl:message>
  <wsdl:message name="AccountModifySoapIn">
    <wsdl:part name="parameters" element="tns:AccountModify"/>
  </wsdl:message>
  <wsdl:message name="AddressBookGroupCreateSoapOut">
    <wsdl:part name="parameters" element="tns:AddressBookGroupCreateResponse"/>
  </wsdl:message>
  <wsdl:message name="SubAccountGiveCreditsSoapIn">
    <wsdl:part name="parameters" element="tns:SubAccountGiveCredits"/>
  </wsdl:message>
  <wsdl:message name="AccountVerifySoapOut">
    <wsdl:part name="parameters" element="tns:AccountVerifyResponse"/>
  </wsdl:message>
  <wsdl:message name="AccountValidateSoapOut">
    <wsdl:part name="parameters" element="tns:AccountValidateResponse"/>
  </wsdl:message>
  <wsdl:message name="AddressBookAddEntrySoapOut">
    <wsdl:part name="parameters" element="tns:AddressBookAddEntryResponse"/>
  </wsdl:message>
  <wsdl:message name="AccountOpenSoapIn">
    <wsdl:part name="parameters" element="tns:AccountOpen"/>
  </wsdl:message>
  <wsdl:message name="AddressBookAddEntrySoapIn">
    <wsdl:part name="parameters" element="tns:AddressBookAddEntry"/>
  </wsdl:message>
  <wsdl:message name="AddressBookGroupAddEntrySoapIn">
    <wsdl:part name="parameters" element="tns:AddressBookGroupAddEntry"/>
  </wsdl:message>
  <wsdl:message name="ReportStandardSoapIn">
    <wsdl:part name="parameters" element="tns:ReportStandard"/>
  </wsdl:message>
  <wsdl:message name="SubAccountListSoapIn">
    <wsdl:part name="parameters" element="tns:SubAccountList"/>
  </wsdl:message>
  <wsdl:message name="FixedMessageRemoveSoapIn">
    <wsdl:part name="parameters" element="tns:FixedMessageRemove"/>
  </wsdl:message>
  <wsdl:message name="FixedMessageAddSoapIn">
    <wsdl:part name="parameters" element="tns:FixedMessageAdd"/>
  </wsdl:message>
  <wsdl:message name="SubAccountGiveCreditsSoapOut">
    <wsdl:part name="parameters" element="tns:SubAccountGiveCreditsResponse"/>
  </wsdl:message>
  <wsdl:portType name="_x0032_sms_x0020_Messaging_x0020_Web_x0020_ServiceSoap">
    <wsdl:operation name="AddressBookList">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lists a users contacts</wsdl:documentation>
      <wsdl:input message="tns:AddressBookListSoapIn"/>
      <wsdl:output message="tns:AddressBookListSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="AddressBookAddEntry">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Adds a new contact</wsdl:documentation>
      <wsdl:input message="tns:AddressBookAddEntrySoapIn"/>
      <wsdl:output message="tns:AddressBookAddEntrySoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="AddressBookRemoveEntry">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Deletes a contact</wsdl:documentation>
      <wsdl:input message="tns:AddressBookRemoveEntrySoapIn"/>
      <wsdl:output message="tns:AddressBookRemoveEntrySoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="AddressBookGroupList">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lists a users groups</wsdl:documentation>
      <wsdl:input message="tns:AddressBookGroupListSoapIn"/>
      <wsdl:output message="tns:AddressBookGroupListSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="AddressBookGroupCreate">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Creates a group</wsdl:documentation>
      <wsdl:input message="tns:AddressBookGroupCreateSoapIn"/>
      <wsdl:output message="tns:AddressBookGroupCreateSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="AddressBookGroupRemove">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Deletes a group</wsdl:documentation>
      <wsdl:input message="tns:AddressBookGroupRemoveSoapIn"/>
      <wsdl:output message="tns:AddressBookGroupRemoveSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="AddressBookGroupAddEntry">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Adds a contact to a specified group</wsdl:documentation>
      <wsdl:input message="tns:AddressBookGroupAddEntrySoapIn"/>
      <wsdl:output message="tns:AddressBookGroupAddEntrySoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="AddressBookGroupRemoveEntry">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Removes a contact from a group</wsdl:documentation>
      <wsdl:input message="tns:AddressBookGroupRemoveEntrySoapIn"/>
      <wsdl:output message="tns:AddressBookGroupRemoveEntrySoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ReportStandard">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Reports messages sent using a predefined template</wsdl:documentation>
      <wsdl:input message="tns:ReportStandardSoapIn"/>
      <wsdl:output message="tns:ReportStandardSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ReportStandardReference">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Reports messages send with a certain reference field</wsdl:documentation>
      <wsdl:input message="tns:ReportStandardReferenceSoapIn"/>
      <wsdl:output message="tns:ReportStandardReferenceSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ReportStandardBetweenDates">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Reports messages send between specified dates</wsdl:documentation>
      <wsdl:input message="tns:ReportStandardBetweenDatesSoapIn"/>
      <wsdl:output message="tns:ReportStandardBetweenDatesSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="Report2way">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Reports messages received between specified dates</wsdl:documentation>
      <wsdl:input message="tns:Report2waySoapIn"/>
      <wsdl:output message="tns:Report2waySoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sends a text message</wsdl:documentation>
      <wsdl:input message="tns:SendMessageSoapIn"/>
      <wsdl:output message="tns:SendMessageSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="SendGroupMessage">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sends a text message to a group or groups</wsdl:documentation>
      <wsdl:input message="tns:SendGroupMessageSoapIn"/>
      <wsdl:output message="tns:SendGroupMessageSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="AccountBalance">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns account balance</wsdl:documentation>
      <wsdl:input message="tns:AccountBalanceSoapIn"/>
      <wsdl:output message="tns:AccountBalanceSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="AccountVerify">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Verifies that an account exists</wsdl:documentation>
      <wsdl:input message="tns:AccountVerifySoapIn"/>
      <wsdl:output message="tns:AccountVerifySoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="AccountOpen">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Opens a new account</wsdl:documentation>
      <wsdl:input message="tns:AccountOpenSoapIn"/>
      <wsdl:output message="tns:AccountOpenSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="AccountModify">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Modifies account details</wsdl:documentation>
      <wsdl:input message="tns:AccountModifySoapIn"/>
      <wsdl:output message="tns:AccountModifySoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="AccountValidate">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates account using code sent after registering</wsdl:documentation>
      <wsdl:input message="tns:AccountValidateSoapIn"/>
      <wsdl:output message="tns:AccountValidateSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="FixedMessageAdd">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Adds one or many fixed message</wsdl:documentation>
      <wsdl:input message="tns:FixedMessageAddSoapIn"/>
      <wsdl:output message="tns:FixedMessageAddSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="FixedMessageList">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lists a users fixed messages</wsdl:documentation>
      <wsdl:input message="tns:FixedMessageListSoapIn"/>
      <wsdl:output message="tns:FixedMessageListSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="FixedMessageRemove">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Deletes one or many fixed message</wsdl:documentation>
      <wsdl:input message="tns:FixedMessageRemoveSoapIn"/>
      <wsdl:output message="tns:FixedMessageRemoveSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="SubAccountList">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lists a users subaccounts</wsdl:documentation>
      <wsdl:input message="tns:SubAccountListSoapIn"/>
      <wsdl:output message="tns:SubAccountListSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="SubAccountGiveCredits">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Transfers credits to a sub-account</wsdl:documentation>
      <wsdl:input message="tns:SubAccountGiveCreditsSoapIn"/>
      <wsdl:output message="tns:SubAccountGiveCreditsSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="_x0032_sms_x0020_Messaging_x0020_Web_x0020_ServiceSoap12" type="tns:_x0032_sms_x0020_Messaging_x0020_Web_x0020_ServiceSoap">
    <soap12:binding xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AddressBookList">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://2sms.com/WebServices/AddressBookList" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddressBookAddEntry">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://2sms.com/WebServices/AddressBookAddEntry" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddressBookRemoveEntry">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://2sms.com/WebServices/AddressBookRemoveEntry" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddressBookGroupList">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://2sms.com/WebServices/AddressBookGroupList" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddressBookGroupCreate">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://2sms.com/WebServices/AddressBookGroupCreate" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddressBookGroupRemove">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://2sms.com/WebServices/AddressBookGroupRemove" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddressBookGroupAddEntry">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://2sms.com/WebServices/AddressBookGroupAddEntry" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddressBookGroupRemoveEntry">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://2sms.com/WebServices/AddressBookGroupRemoveEntry" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportStandard">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://2sms.com/WebServices/ReportStandard" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportStandardReference">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://2sms.com/WebServices/ReportStandardReference" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportStandardBetweenDates">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://2sms.com/WebServices/ReportStandardBetweenDates" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Report2way">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://2sms.com/WebServices/Report2way" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://2sms.com/WebServices/SendMessage" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendGroupMessage">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://2sms.com/WebServices/SendGroupMessage" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountBalance">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://2sms.com/WebServices/AccountBalance" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountVerify">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://2sms.com/WebServices/AccountVerify" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountOpen">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://2sms.com/WebServices/AccountOpen" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountModify">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://2sms.com/WebServices/AccountModify" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountValidate">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://2sms.com/WebServices/AccountValidate" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FixedMessageAdd">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://2sms.com/WebServices/FixedMessageAdd" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FixedMessageList">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://2sms.com/WebServices/FixedMessageList" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FixedMessageRemove">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://2sms.com/WebServices/FixedMessageRemove" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubAccountList">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://2sms.com/WebServices/SubAccountList" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubAccountGiveCredits">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://2sms.com/WebServices/SubAccountGiveCredits" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="_x0032_sms_x0020_Messaging_x0020_Web_x0020_ServiceSoap" type="tns:_x0032_sms_x0020_Messaging_x0020_Web_x0020_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AddressBookList">
      <soap:operation soapAction="http://2sms.com/WebServices/AddressBookList" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddressBookAddEntry">
      <soap:operation soapAction="http://2sms.com/WebServices/AddressBookAddEntry" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddressBookRemoveEntry">
      <soap:operation soapAction="http://2sms.com/WebServices/AddressBookRemoveEntry" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddressBookGroupList">
      <soap:operation soapAction="http://2sms.com/WebServices/AddressBookGroupList" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddressBookGroupCreate">
      <soap:operation soapAction="http://2sms.com/WebServices/AddressBookGroupCreate" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddressBookGroupRemove">
      <soap:operation soapAction="http://2sms.com/WebServices/AddressBookGroupRemove" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddressBookGroupAddEntry">
      <soap:operation soapAction="http://2sms.com/WebServices/AddressBookGroupAddEntry" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddressBookGroupRemoveEntry">
      <soap:operation soapAction="http://2sms.com/WebServices/AddressBookGroupRemoveEntry" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportStandard">
      <soap:operation soapAction="http://2sms.com/WebServices/ReportStandard" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportStandardReference">
      <soap:operation soapAction="http://2sms.com/WebServices/ReportStandardReference" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportStandardBetweenDates">
      <soap:operation soapAction="http://2sms.com/WebServices/ReportStandardBetweenDates" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Report2way">
      <soap:operation soapAction="http://2sms.com/WebServices/Report2way" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap:operation soapAction="http://2sms.com/WebServices/SendMessage" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendGroupMessage">
      <soap:operation soapAction="http://2sms.com/WebServices/SendGroupMessage" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountBalance">
      <soap:operation soapAction="http://2sms.com/WebServices/AccountBalance" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountVerify">
      <soap:operation soapAction="http://2sms.com/WebServices/AccountVerify" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountOpen">
      <soap:operation soapAction="http://2sms.com/WebServices/AccountOpen" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountModify">
      <soap:operation soapAction="http://2sms.com/WebServices/AccountModify" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountValidate">
      <soap:operation soapAction="http://2sms.com/WebServices/AccountValidate" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FixedMessageAdd">
      <soap:operation soapAction="http://2sms.com/WebServices/FixedMessageAdd" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FixedMessageList">
      <soap:operation soapAction="http://2sms.com/WebServices/FixedMessageList" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FixedMessageRemove">
      <soap:operation soapAction="http://2sms.com/WebServices/FixedMessageRemove" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubAccountList">
      <soap:operation soapAction="http://2sms.com/WebServices/SubAccountList" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubAccountGiveCredits">
      <soap:operation soapAction="http://2sms.com/WebServices/SubAccountGiveCredits" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="_x0032_sms_x0020_Messaging_x0020_Web_x0020_Service">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">2sms Messaging Web Service</wsdl:documentation>
    <wsdl:port name="_x0032_sms_x0020_Messaging_x0020_Web_x0020_ServiceSoap" binding="tns:_x0032_sms_x0020_Messaging_x0020_Web_x0020_ServiceSoap">
      <soap:address location="http://www.2sms.com/WebServices/1.1/SMSService.asmx"/>
    </wsdl:port>
    <wsdl:port name="_x0032_sms_x0020_Messaging_x0020_Web_x0020_ServiceSoap12" binding="tns:_x0032_sms_x0020_Messaging_x0020_Web_x0020_ServiceSoap12">
    <soap12:address xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" location="http://www.2sms.com/WebServices/1.1/SMSService.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
